@{
    ViewData["Title"] = "Home";
}
<header>
      <script src='https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js'></script>
</header>
<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Você está no servidor do Olympia! <br> Feito em ASP.NET. Leia mais em <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>