@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
}
<div class="text-center">
    <h1 class="display-4">Login</h1>
</div>
<form class="form-signin" style="width: 40%;margin:auto;margin-top:60px;" method="post" action="/api/Account/Login">
    <h1 class="h3 mb-3 font-weight-normal">Entre para avançar</h1>
    <label asp-for="UserName" for="inputEmail" class="sr-only">User</label>
    <input type="text" asp-for="UserName" name="userName" id="inputEmail" class="form-control" placeholder="Username" required autofocus style="margin-top:10px;">
    <label for="inputPassword" asp-for="Senha" class="sr-only">Password</label>
    <input type="password" asp-for="Senha" name="senha" id="inputPassword" class="form-control" placeholder="Senha" required style="margin-top:10px">

    <button class="btn btn-lg btn-primary btn-block box-shadow border-0" style="margin-top:30px;background:#299ec7" id="sign-in" type="submit">Sign in</button>
</form>
