@{
    ViewData["Title"] = "Privacidade";
}
    <div class="text-center">
        <h1 class="display-4">Privacidade</h1>
        <br>
        <p>
            201.82.123.8ocê está no servidor do Olympia!
            <br>
            Todos os seus dados estão em segurança.
        </p>
    </div>


