@{
    ViewData["Title"] = "Privacidade";
}
    <div class="text-center">
        <h1 class="display-4">Privacidade</h1>
        <br>
        <p>
            Esta página é destinada aos desenvolvedores do Olympia.
            <br>
            Todos os seus dados estão em segurança.
        </p>
    </div>


