@{
    ViewData["Title"] = "Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    Esta página é destinada aos desenvolvedores do Olympia.
    <br>
    <br>   
    Todos os seus dados estão em segurança.
</p>
