@font-face {
  font-family: "Bruzh";
  src: url("/src/assets/fonts/Bruzh.ttf");
}
@font-face {
  font-family: "Calibre-Bold";
  src: url("/src/assets/fonts/calibri-bold-2.ttf");
  src: url("/src/assets/fonts/CalibreWeb-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("/src/assets/fonts/calibri-7.ttf");
  src: url("/src/assets/fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype");
}
@font-face {
  font-family: "Bebas-Neue-Bold";
  src: url("/src/assets/fonts/BebasNeue-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Bebas-Neue-Regular";
  src: url("/src/assets/fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Bebas-Neue-Light";
  src: url("/src/assets/fonts/BebasNeue-Light.ttf");
}
@font-face {
  font-family: "Bebas-Neue-Book";
  src: url("/src/assets/fonts/BebasNeue-Book.ttf");
}
@font-face {
  font-family: "Bebas-Neue-Thin";
  src: url("/src/assets/fonts/BebasNeue-Thin.ttf");
}

html {
  height: 100%;
}

body {
  margin: 0 !important;
  height: fit-content !important;
  overflow-x: hidden;
  padding: 0 !important;
  font-family: "bebas-Neue-Regular";
}

.gradient {
  position: fixed;
  top: 0;
  z-index: -10;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(143, 142, 142);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 91, 91);
}

.line-containers {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  margin-top: 100px;
  margin-bottom: 100px;
}

.footer-link {
  font-family: "bebas-neue-regular";
}

.footer-link:hover {
  cursor: pointer;
  font-weight: bolder;
}
.card{
  min-width: 220px;
}
.bg {

  
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 0;
  z-index: -10;
  animation-name: bg-circles;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  filter: blur(5px);
}
.bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("/src/assets/images/circles.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(180deg);
}
@keyframes bg-circles {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.4;
  }
  15% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  23% {
    opacity: 0.65;
  }
  25% {
    opacity: 0.7;
  }
  26% {
    opacity: 0.75;
  }
  30% {
    opacity: 0.8;
  }
  35% {
    opacity: 0.9;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  53% {
    opacity: 0.85;
  }
  57% {
    opacity: 0.8;
  }
  61% {
    opacity: 0.76;
  }
  70% {
    opacity: 0.7;
  }
  73% {
    opacity: 0.65;
  }
  76% {
    opacity: 0.6;
  }
  78% {
    opacity: 0.55;
  }
  81% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.4;
  }
  92% {
    opacity: 0.35;
  }
  95% {
    opacity: 0.3;
  }
  96% {
    opacity: 0.29;
  }
  969% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.2;
  }
}

.line {
  width: 100%;
  position: relative;
  z-index: -9;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;
}
.image-link-to-art{
  width: calc(100%/3);
  height: fit-content;
  z-index: 400000000000;
  cursor: pointer;
}
.line-img-left {
  width: 100%;
}

.line-img-right {
  width: 100%;
}
.inner-center{
  margin-bottom: -30%;
  background-color: rgb(230, 230, 230);
}
.inner-left{
  margin-top: -70%;
  background-color: rgb(230, 230, 230);
}
.inner-right{
  margin-top: -70%;
  background-color: rgb(230, 230, 230);
  width: 90%;
}
.line-img {
  border-radius: 21px;
  width: 92%;
  margin-left: 3.5%;
  margin-right: 3.5%;
}
.card-right {
  background-color: transparent;
  width: calc(100%/3);
  text-align: justify;
  text-indent: 40px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 21px;
}

.card-center {
  width: calc(100%/3);
  background-color: transparent;
  text-align: justify;
  text-indent: 40px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 21px;
}

.card-left {
  width: calc(100%/3);
  background-color: transparent;
  text-align: justify;
  text-indent: 40px;
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 21px;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#mouse {
  display: block;
  width: 22px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  text-align: center;
  position: fixed !important;
  left: 0;
  right: 0;
  bottom: 3em;
  margin: 0 auto;
}

#mouse::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  position: relative;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  animation-name: mouse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes mouse {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}

.table-contato{
  padding-top: 4%;
}

.text-cont-art p{
  padding: 10px;
}
.text-cont-art{
  border-radius: 20px;
  width: 93%;
    margin-left: 3.5%;
    margin-right: 3.5%;
}
@media only screen and (max-width: 800px){
  .text-cont-art{
    height: 80%;
    width: 95%;
    margin-left: 3.5%;
    margin-right: 3.5%;
  }
  .inner-right{
    margin-top: -25%;
  }
  .inner-center{
    margin-bottom: -5%
  }
  .inner-left{
    margin-top: -25%;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1050px){
  .text-cont-art{
    height: 50%;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}