
  
  body {
    background-color: #f1f1f1;
    font-family: 'Montserrat', sans-serif;
  }
  
  #regForm {
    background-color: #ffffff;
    margin: 100px auto;
    font-family: 'Montserrat', sans-serif;
    padding: 40px;
    width: 70%;
    min-width: 300px;
    border-radius: 21px;
    box-shadow: 3px 3px 9px 9px lightgrey;
    box-sizing: border-box;
  }
  
  h1 {
    text-align: center;  
  }
  
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 1px solid #aaaaaa;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    box-sizing: border-box;
    background-color: inherit;
  }
  input:focus {
    border-bottom: 1px solid #888888;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    outline: 0;
    background-color: inherit;
  }
  
  /* Mark input boxes that gets an error on validation: */
  input.invalid {
    background-color: #ffdddd;
  }
  
  /* Hide all steps by default: */
  .tab {
    display: none;
    font-size: 1.3em;
    box-sizing: border-box;
  }
  
  button {
    background:  linear-gradient(
        45deg,
        rgba(63, 94, 251, 1) 0%,
        rgba(252, 70, 107, 1) 100%
      );;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    font-family: 'Montserrat' sans-serif;
    cursor: pointer;
    border-radius: 12px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  #prevBtn {
    background-color: #bbbbbb;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;  
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }
  
  h1 {
    color: #18191b;
    margin-bottom: 2rem;
  }
  
  .radio-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin-top: 40px;
  }
  
  .radio-wrapper > div {
    flex: 1;
    padding: 0.5rem;
  }
  
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:not(:disabled) ~ label {
    cursor: pointer;
  }
  input[type="radio"]:disabled ~ label {
    color: #bcc2bf;
    border-color: #bcc2bf;
    box-shadow: none;
    cursor: not-allowed;
  }
  
  label {
    height: 80%;
    display: block;
    background: white;
    border: 2px solid #20df80;
    border-radius: 20px;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    box-shadow: 0px 3px 10px -2px rgba(161, 170, 166, 0.5);
    position: relative;
  }
  label p{
      font-weight: normal !important;
  }
  input[type="radio"]:checked + label {
    background: #20df80;
    color: white;
    box-shadow: 0px 0px 20px rgba(0, 255, 128, 0.75);
  }
  input[type="radio"]:checked + label::after {
    color: #3d3f43;
    font-family: FontAwesome;
    border: 2px solid #1dc973;
    content: "\f00c";
    font-size: 24px;
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background: white;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.25);
  }
  
  p {
    font-weight: 900;
  }
  
  @media only screen and (max-width: 900px) {
    section {
      flex-direction: column;
    }
    label{
        height: 100%;
    }
  }

  .confirmation{
      font-size: 1.2em;
      font-weight: normal !important;
      text-align: justify;
      text-indent: 1.6rem;
  }
  .dark-mode-page{
    background-color: #2b2b2b;
  } 
  .white-7.cont.dark-mode{
    box-shadow: 3px 3px 9px 9px #666666 !important;
  }

  :root {
    --color-1: #ccff33;
    --color-2: #dad553;
    --color-3: #e3b969;
    --color-4: #f1908a;
    --color-5: #ff66aa;
  }
  
  .shape {
    r: 80;
    animation: moveCircle 1550ms ease-in-out both infinite;
  }
  
  .shape:nth-child(1) {
    cx: 0;
    fill: var(--color-1);
  }
  
  .shape:nth-child(2) {
    cx: 180;
    fill: var(--color-2);
    animation-delay: 150ms;
  }
  
  .shape:nth-child(3) {
    cx: 360;
    fill: var(--color-3);
    animation-delay: 250ms;
  }
  
  .shape:nth-child(4) {
    cx: 540;
    fill: var(--color-4);
    animation-delay: 350ms;
  }
  
  .shape:nth-child(5) {
    cx: 720;
    fill: var(--color-5);
    animation-delay: 450ms;
  }
  
  @keyframes moveCircle {
    50% {
      cy: 150;
    }
  }
  svg {
    position: fixed;
    top: 200px;
    left: calc((100vw - 720px)/2);
    display: block;
    width: 720px;
    height: 500px;
    overflow: visible;
    z-index: -2;
  }
  .wrapper{
      width: 100vw;
      height: 102vh;
  }
  