@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "Open Sans ExtraBold";
  src: url("../fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "Open Sans Semibold";
  src: url("../fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "Bruzh";
  src: url("../fonts/Bruzh.ttf");
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue.ttf");
}
@font-face {
  font-family: "Calibre-Bold";
  src: url("../fonts/calibri-bold-2.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("../fonts/calibri-7.ttf");
}
@font-face {
  font-family: "Bebas-Neue-Bold";
  src: url("../fonts/BebasNeue-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Bebas-Neue-Regular";
  src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Bebas-Neue-Light";
  src: url("../fonts/BebasNeue-Light.ttf");
}
@font-face {
  font-family: "Bebas-Neue-Book";
  src: url("../fonts/BebasNeue-Book.ttf");
}
@font-face {
  font-family: "Bebas-Neue-Thin";
  src: url("../fonts/BebasNeue-Thin.ttf");
}
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
#page-rol {
  margin-top: 50px;
  background-color: transparent;
}
#page-container{
  background-color: transparent;
}
#event-header{
  z-index: 40;
  background-color: #fff;  
  visibility: visible;
  backface-visibility: visible;
}
button:active {
  outline: none;
  border: none;
  }
  
  button:focus {outline:0;}
#mouse {
  display: block;
  width: 22px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: 0 auto;
}

#mouse::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  position: relative;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  animation-name: mouse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes mouse {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}
body {
  background: #fff;
}
.img-header {
  position: relative;
  width: 100%;
  max-height: 450px;
  overflow: hidden;
  z-index: 19;
  background-color: rgba(250, 250, 250, 255);
}
.img-header .img-wrap:before {
  content: "";
  background-image: linear-gradient(
    to top,
    white,
    rgba(250, 250, 250, 0)
  );
  position: absolute;
  height: 130px;
  right: 0;
  bottom: 0;
  left: 0;
}
.img-header .img-wrap:after {
  content: "";
  display: block;
}
.img-wrap img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  -ms-interpolation-mode: bicubic;
}
#calendar-red {
  background-color: red;
  height: 160px;
  width: 151px;
  position: relative;
  margin-top: -80px;
  left: 15%;
  border-radius: 16px;
  box-shadow: 10px 5px 5px lightgray;
  border: 1px solid lightgray;
  border-top: lightgray;
  z-index:100;
  transition: 0.6s all;
}
#calendar-white {
  background-color: white;
  height: 109px;
  width: 148px;
  position: absolute;
  margin-top: -4px;
  z-index: 20;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-bottom: 1px solid lightgray;
  border: 1px solid lightgray;
  box-shadow: 10px 5px 5px lightgray;
  margin-left: -1px;
  transition: 0.6s all;
}
.month {
  font-family: "Calibre-Bold";
  font-size: 2.3em;
  text-align: center;
  width: inherit;
  padding-bottom: 0;
  height: 60px;
  margin: 0;
  transition: 0.6s all;
}
.day {
  font-family: "Calibre-Bold";
  font-size: 4em;
  text-align: center;
  width: inherit;
  padding-bottom: 0;
  height: 60px;
  margin: 0;
  transition: 0.6s all;
}
#grid-item-1 {
  background-color: #fff;
  border-radius: 16px;
  position: relative;
  top: 5px;
  box-shadow: 0 0 0.35em #787878, 0 0 0.35em #676767;
  perspective: 3000px;
  transition: 0.7s all;
}
#bottom-header{
  background-color: #fff;
  transition: 0.6s all;
  box-shadow: 0 30px 30px white;
}

#gradient-wrap{
  background-image: linear-gradient(
    to bottom,
    white,
    rgba(250, 250, 250, 0)
  );
  z-index: 99;
  width: 100vw;
  height: 60px;
  margin-top: -50px;
}

#event-name {
  font-family: "Calibre-Bold";
  font-size: 3.3em;
  transition: 0.6s all;
}
#title {
  margin-right: 25%;
  float: right;
  transition: 0.6s all;
  
  position: relative;
  margin-top: -120px;
}
.grid-item {
  min-width: 650px;
  width: 70%;
  margin-left: 15%;
  min-height: 400px;
  display: inline-flex;
  background-color: #fff;
  
  border-radius: 16px;
}

.card {
  position: relative;

  width: 100%;
  height: 450px;
  overflow: hidden;

  border-radius: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/*Light blue cover above the slide show*/
.card::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(175, 130, 165, 0.2);
}

.card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;

  transform: translateX(700px);
  background-image: url(https://media.timeout.com/images/105542652/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  animation: opaqTransition 28s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.card_part.card_part-two {
  z-index: 6;
  background-image: url(https://media.timeout.com/images/105548109/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  animation-delay: 7s;
}

.card_part.card_part-three {
  z-index: 5;
  background-image: url(https://www.artnews.com/wp-content/uploads/2019/10/in24270801.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  animation-delay: 14s;
}

.card_part.card_part-four {
  z-index: 4;
  background-image: url(https://cdn.cms.prod.nypr.digital/images/moma-41.2e16d0ba.fill-661x496.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  animation-delay: 21s;
}

@keyframes opaqTransition {
  3% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  28% {
    transform: translateX(-700px);
  }
  100% {
    transform: translateX(-700px);
  }
}

.map {
  width: 100%;
  transition: 0.6s all;
  box-shadow: 3px 3px 9px 3px #888;
}
#map-container {
  margin-top: 60px;
}
#event-info {
  
  border-radius: 16px;
  width: 100%;
}
.event-info-p {
  padding: 40px;
  
  background-color: #fff;
  border-radius: 16px;
}
.event-info-item {
  font-family: "Open Sans SemiBold";
  font-size: 1.5em;
  line-height: 1.4em;
}
#event-info-nome {
  font-family: "Open Sans ExtraBold";
  margin-top: 0 !important;
}
.tickets-link {
  background: linear-gradient(to bottom, rgba(255,246,64,1) 0%, rgba(255,79,165,1) 100%);
  border-radius: 7px;
  padding: 5px;
  padding-left: 8px;
  padding-right: 8px;
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
}

.tickets-link:hover {
  cursor: pointer;
  background-size: 4px 50px;
}
iframe {
  border-radius: 5px;
}
#artist-pic-event {
  width: 40%;
  float: right;
  margin-top: -190px;
  margin-right: 10px;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
#artist-pic-event:after {
  top: 0;
  left: 0;
  padding: 0;
  box-shadow: 0 0 0 3px #fff;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
}
/* Effect 9a */
#artist-pic-event:hover:after {
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  -ms-transform: scale(0.85);
  transform: scale(0.85);
  opacity: 0.5;
}
#artist-pic-event:hover {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 1);
  color: #fff;
  cursor: pointer;
}
#artist-pic-event:hover i {
  color: #fff;
}

#simple-artist-info-event {
  width: 50%;
  font-family: "Open-Sans";
}
.fine-line {
  width: 100%;
  height: 1.5px;
  background-color: lightgray;
  margin-top: 30px;
}
#artist-data {
  margin-top: 20px;
  font-family: "Open Sans";
  text-indent: 40px;
  text-align: justify;
  padding-left: 6px;
  padding-right: 6px;
}
#user-link {
  text-decoration: none;
  color: black;
}
#user-link :hover {
  cursor: pointer;
  font-family: "Calibre-Bold";
  text-decoration: line-through;
}
#art-pic {
  background-color: #aaa;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}
#artist-pic-event {
  background-color: #aaa;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  overflow: hidden;
  position: relative;
}
#artist-profile :hover {
  text-decoration: none;
  font-weight: bolder;
}
#artist-profile {
  text-decoration: none;
  font-family: "bebas";
  letter-spacing: 0.1em;
  font-size: 1.1em;
  color: black;
  margin-top: 23px;
  float: left;
}
.link {
  background: linear-gradient(to bottom, #ff9800 0%, #ff0000 100%);
  border-radius: 2px;
  padding: 2px;
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #000;
  text-decoration: none;
  transition: background-size 0.2s;
  font-size: 1.18em;
}

.link:hover {
  background-size: 4px 50px;
  cursor: pointer;
}
.inner-list {
  font-family: "Open Sans";
  margin-right: 20px;
  height: 100%;
}
.grid-item-last {
  min-width: 650px;
  width: 100%;
  min-height: 400px;
  display: block;
  float: right;
  margin-top: 55px;
  margin-right: 20px;
}
.art-icon {
  width: 100%;
}
b {
  font-family: "Open Sans Bold";
}
#simple-artist-info p {
  font-family: "Open Sans SemiBold";
}

#search-ico {
  right: -4.2% !important;
}
#second-part-eve{
  background-color: transparent;
  position: sticky;
  height: fit-content;
  width: 70%;
  margin-left: 15%;
  border-radius: 16px;
}
/* GALLERY /////////////////////////////////////////////////////////////*/

ul {
	list-style: none;
	padding: 0;
	perspective: 3000px;
	max-width: 768px;
	margin: auto;
  padding: 2rem;
  transition: 0.6s all;
}

@media (min-width: 768px) {
	ul {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-gap: 1rem;
	}
}

.box {
	width: 100%;
	height: 200px;
	margin: -3rem 0 0;
	transform: translateY(10vh) skew(60deg, -15deg) rotateX(40deg);
	box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.6);
  transition: all 300ms ease;
  border-radius: 10px;
}

.box-1 {
	background: url(https://i.imgur.com/ptkGEP7.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box-2 {
	background: url(https://media.timeout.com/images/105542652/image.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box-3 {
	background-image: url(https://media.timeout.com/images/105548109/image.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box-4 {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/495197/bfezchfpm2i-igor-ovsyannykov.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box-5 {
	background-image: url(https://www.artnews.com/wp-content/uploads/2019/10/in24270801.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.box-6 {
	background-image: url(https://cdn.cms.prod.nypr.digital/images/moma-41.2e16d0ba.fill-661x496.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.view-gallery {
	text-align: center;
  margin: 5vh 0;
  z-index: 20;
  perspective: 3000px;
}
#gallery-cont{
  perspective: 3000px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  border-radius: 16px;
  height: fit-content;
  margin-bottom: 100px;
  box-shadow: 0 0 0.35em #787878, 0 0 0.35em #676767;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-top: 100px;
  transition: 0.6s all;
}
.view-gallery button {
  background: linear-gradient(110deg, rgb(230, 212, 58) 0%, rgba(255,79,165,1) 100%);
  box-shadow: 0 0 5px #676767;
	color: white;
	padding: 1.2rem 2.5rem;
	border: 0;
  border-radius: 10px;
  font-family: 'Montserrat',sans-serif;
  font-size: 1.1em;
  transition: 0.2s all;
}

.view-gallery button:hover {
	cursor: pointer;
  opacity: 0.7;
}

.animated {
	transform: translateY(0) skew(0, 0) rotateX(0deg);
	margin: 0 0 1rem;
}

@media (min-width: 768px) {
	.animated {
		margin: 0;
	}
}

/*TEXT ABOUT EVENT /////////////////////////////////////////////////////////////*/
#text-about-event{
  perspective: 3000px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  border-radius: 16px;
  height: fit-content;
  margin-bottom: 100px;
  box-shadow: 0 0 0.35em #787878, 0 0 0.35em #676767;
  padding-top: 30px;
  padding-bottom: 100px;
  margin-top: 100px;
  transition: 0.6s all;
}

.underlined {
  color: black;
  flex: 1;
  font-size: inherit;
  line-height: 1.2;
  text-decoration: none;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
  background-position: 0 1.2em;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background .5s;
}
.underlined:hover {
  background-size: 100% 100%;
}
.underlined--thin {
  background-image: linear-gradient(to right, black 0, black 100%);
}
.underlined--thick {
  background-position: 0 -0.1em;
}
.underlined--offset {
  background-position: 0 0.2em;
  box-shadow: inset 0 -.5em 0 0 white;
}
.underlined--gradient {
  background-position: 0 -0.1em;
  background-image: linear-gradient(to right, yellow 0, lightgreen 100%);
}
.underlined--reverse {
  background-position: 100% -0.1em;
  transition: background 1s;
  background-image: linear-gradient(to right, yellow 0, yellow 100%);
}
.about-event-text-in{
  font-family: 'Montserrat', sans-serif;
  text-indent: 1.8em;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 1.1em;
}

/*Deconstructed /////////////////////////////////////////////////////////////*/

.deconstructed {
  position: relative;
  margin: auto;
  height: 0.91em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 7.1vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.13em;
  margin-left: 30px;
  margin-bottom: 30px;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(255,246,64,1) 0%, rgba(255,79,165,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}
/*LOCATION OF EVENT*/
#location-of-event{
  perspective: 3000px;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  border-radius: 16px;
  height: max-content;
  margin-bottom: 120px;
  box-shadow: 0 0 0.35em #787878, 0 0 0.35em #676767;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-top: 100px;
  transition: 0.6s all;
}
.about-event-loc-in{
  font-family: 'Montserrat', sans-serif;
  text-indent: 1.8em;
  text-align: justify;
  padding: 20px;
  font-size: 1.6em;
  margin-top: 32%;
  transition: 0.6s all;
}
#bottom-location{
  position: relative;
  min-height: 500px;
  bottom: 0;
  display: inline-flex;
}
#background{
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 0;
}
#y-r-here{
  float: left;
  width: 58%;
  margin-top: 8%;
  margin-left: 30px;
  font-family: 'bebas', sans-serif;
  text-align: left;
  padding: 2px;
  font-size: 1.6em;
  transition: 0.6s all;
  line-height: 1.6em;
  letter-spacing: 0.08em;
  font-weight: 100;
}
.location-icon{
  width: 50%;
  margin-right: 7%;
  float: right;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 140px;
  transition: 0.6s all;
}
.map-container{
  min-width: 46%;
  margin-left: 4%;
  float: right;
  border-radius: 16px;
  height: 550px;
  position: relative;
  transition: 0.6s all;
}
.map{
  height: 500px;
  width: 100%;
  border-radius: 16px;
  transition: 0.6s all;
}
.address-cont{
  width: 100%;
  height: 300px;
  margin-top: 17%;
  float: left;
  position: static;
  margin-left: 10px;
}
.upper-loc-cont{
  width: 90%;
  margin:  0 5%;
  display: inline-flex;
  flex-shrink: 1; /* default 1 */
  flex-direction: row;
  border-radius: 12px;
  box-shadow: 3px 3px 9px 3px #888;
}
.right-part-cont{
  width: 50%;
}
/* Basic styles */

:root{
    --bg-color: #D8D8D8;
}

/* title styles */
.about-event-text-in span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.about-event-text-in span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    animation: a-ltr-after 6s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.about-event-text-in span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(143, 11, 11, 0);
    animation: a-ltr-before 6s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.about-event-text-in span:nth-of-type(1)::before,
.about-event-text-in span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.about-event-text-in span:nth-of-type(2)::before,
.about-event-text-in span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}
/*BUBBLES*/
/* KEYFRAMES */
#background-wrap {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}
@-webkit-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-moz-keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@keyframes animateBubble {
  0% {
    margin-top: 1000px;
  }
  100% {
    margin-top: -100%;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: -5%;
  top: 5%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x2 {
  -webkit-animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 5%;
  top: 80%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x3 {
  -webkit-animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 10%;
  top: 51%;

  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x4 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 20%;
  top: 0;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x5 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 30%;
  top: 42%;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x6 {
  -webkit-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 50%;
  top: -10%;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

.x7 {
  -webkit-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 65%;
  top: 70%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x8 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 80%;
  top: 10%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x9 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 90%;
  top: 50%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x10 {
  -webkit-animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 80%;
  top: 80%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}
.x11 {
  -webkit-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: -30%;
  top: 55%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x12 {
  -webkit-animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 25%;
  top: 90%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x13 {
  -webkit-animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 28s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 65%;
  top: 67%;

  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  transform: scale(0.7);
}

.x14 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 35%;
  top: 0;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x15 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 47%;
  top: 59%;

  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x16 {
  -webkit-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 20%;
  top: 0;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
}

.x17 {
  -webkit-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 20s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 55%;
  top: 72%;

  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x18 {
  -webkit-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  -moz-animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  animation: animateBubble 22s linear infinite,
    sideWays 3s ease-in-out infinite alternate;

  left: 50%;
  top: 20%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x19 {
  -webkit-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  -moz-animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  animation: animateBubble 29s linear infinite,
    sideWays 4s ease-in-out infinite alternate;

  left: 90%;
  top: 50%;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}

.x20 {
  -webkit-animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  -moz-animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  animation: animateBubble 26s linear infinite,
    sideWays 2s ease-in-out infinite alternate;

  left: 90%;
  top: 90%;

  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

/* OBJECTS */

.bubble {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2),
    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);

  height: 250px;
  position: absolute;
  width: 250px;
}

.bubble:after {
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 20px 30px rgba(255, 255, 255, 0.3);

  content: "";
  height: 250px;
  left: 0;
  position: absolute;
  width: 250px;
  border-radius: 50%;
  background: rgb(255,246,64);
  background: linear-gradient(90deg, rgb(223, 191, 50) 0%, rgb(255, 105, 197) 100%);
  background-size: 1400% 1400%;

  -webkit-animation: BubblesBackground 8s ease infinite;
  -moz-animation: BubblesBackground 8s ease infinite;
  -o-animation: BubblesBackground 8s ease infinite;
  animation: BubblesBackground 8s ease infinite;
}

@-webkit-keyframes BubblesBackground {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-moz-keyframes BubblesBackground {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@-o-keyframes BubblesBackground {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
@keyframes BubblesBackground {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}
/*POPOUT*/
.popout {
  font-family: 'Futura', sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  padding: 20px;
  padding-left: 30px !important;
  color: black;
  margin-top: -13%;
  max-width: 100%;
}
@-webkit-keyframes ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 rgb(235, 145, 157);

  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 rgb(235, 145, 157);

  }
  70% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
            transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em rgb(235, 145, 157);

  }
  100% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
            transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em rgb(235, 145, 157);

  }
}
@keyframes ani {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 rgb(235, 145, 157);

  }
  30% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 rgb(235, 145, 157);

  }
  70% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
            transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em rgb(235, 145, 157);

  }
  100% {
    -webkit-transform: translate3d(0.08em, -0.08em, 0);
            transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em rgb(235, 145, 157);
  }
}
.popout span {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  -webkit-animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
          animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1);
}
.popout span:nth-last-child(1n) {
  -webkit-animation-delay: -0.1666666667s;
          animation-delay: -0.1666666667s;
}
.popout span:nth-last-child(2n) {
  -webkit-animation-delay: -0.3333333333s;
          animation-delay: -0.3333333333s;
}
.popout span:nth-last-child(3n) {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
/*MENU-TOOL-BAR*/
.icon-bar {
  width: 50px;
  background-color: #555;
  position: fixed;
  bottom: 3%;
  left: 2%;
  z-index: 1000;
  border-radius: 12px;
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 10px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  margin: 0;
  -webkit-transition: all 0.5s ease;
  transition: 0.5s all ease;
}
#to-top-tb:hover{
  border-top-right-radius: 12px !important;
  border-top-left-radius: 12px !important;
}
#to-loc-tb:hover{
  border-bottom-right-radius: 12px !important;
  border-bottom-left-radius: 12px !important;
}
.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}
/*MEDIA*/
@media only screen and (min-width: 0) and (max-width: 800px) {
  #title {
    margin-top: -80px;
  }
}
@media only screen and (min-width: 0) and (max-width: 1000px) {
  #event-name{
    width: 50%;
  }
}
@media only screen and (min-width: 0) and (max-width: 499px) {
  #calendar-red {
    width: 101px;
    height: 80px;
  }
  #calendar-white {
    width: 101px;
    height: 60px;
  }
  .day {
    font-size: 2.1em;
    height: 60px;
  }
  .month {
    font-size: 1.8em;
    height: 46px;
  }
  .grid-item-last {
    height: 650px;
    min-width: 100%;
    margin: 0;
    float: left;
  }
  .inner-list {
    width: 300px;
    float: right;
  }
  #event-name {
    font-size: 0.6em;
    width: 100%;
    float: right;
    margin-right: -40px;
  }
  #title {
    font-size: 0.6em;
    width: 50%;
    float: right;
  }
  #grid-item-1 {
    margin-top: 50px;
    margin-left: 0;
  }
  #grid-item-2 {
    margin-top: 50px;
    margin-left: 0;
  }
  .grid-item-last {
    margin: 0;
  }
  #event-info {
    width: 20em !important;

  }
  #page-grid {
    margin-top: 5%;
    list-style: none;
    width: 100%;
    display: inline-flex;
    padding: 0;
    
    background-color: transparent;
  }
  .grid-item {
    width: 100%;
    min-height: 400px;
    display: inline-flex;
  }
  #grid-item-2 {
    margin-right: 20px;
    margin-top: 20px;
  }
  #second-part-eve{
    margin: 0;
    width: 100%;
  }
  #gallery-cont{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  .about-event-loc-in{
    text-indent: 0.5em;
  }
}
@media only screen and (min-width: 500px) and (max-width: 899px) {
  #calendar-red {
    width: 131px;
    height: 100px;
  }
  #calendar-white {
    width: 131px;
    height: 80px;
  }
  .day {
    font-size: 2.8em;
    height: 90px;
  }
  .month {
    font-size: 2.1em;
    height: 70px;
  }
  #page-rol {
    margin-top: 200px;
  }
  #event-name {
    font-size: 1em;
  }
  #second-part-eve{
    margin: 0;
    width: 100%;
  }
  #gallery-cont{
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #grid-item-1{
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  .grid-item{
    min-width: 100%;
  }
  .about-event-loc-in{
    text-indent: 0.5em;
  }
  #title {
    font-size: 2em;
    margin-top: -60px;
  }
  #event-name{
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 100;
  }
  #title{
    height: 100px;
    width: 350px;
    float: right;
    margin: 0;
    margin-right: 24%;
    margin-top: -70px;
  }
}
@media only screen and (min-width: 900px) and (max-width: 1050px) {
  #page-rol {
    margin-top: 90px;
  }
  #event-name{
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 100;
  }
  #title{
    height: 100px;
    width: 350px;
    float: right;
    margin-right: 28%;
    margin-top: -140px;
  }
}
@media only screen and (min-width: 1051px) and (max-width: 1185px) {
  #page-rol {
    margin-top: 90px;
  }
  #event-name {
    font-size: 1em;
  }
  #title {
    font-size: 2.6em;
    margin-left: 45%;
    width: 450px;
    margin-top: -100px;
  }
}
@media only screen and (max-width: 750px) {
  #bottom-location{
    display: inline-flex;
    flex-wrap: wrap;
  }
  .map{
    width: 100%;
    height: 300px;
  }
  .map-container{
    width: 94%;
    height: 300px;
    margin: 3%;
  }
  .right-part-cont{
    width: 100%;
    margin-top: 10px;
  }
  .address-cont{
    width: 94%;
    height: 200px;
    margin: 3%;
    border-radius: 12px;
  }
  .upper-loc-cont{
    width: 94%;
    margin: 3%;
  }
  .popout{
    margin: 0;
  }
  .deconstructed {
    font-size: 3.5em;
}
  #event-name{
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 100;
  }
  #title{
    height: 100px;
    width: 350px;
    float: right;
    margin-right: 10%;
    margin-top: -70px;
  }
}
@media only screen and (max-width: 660px) {
  #event-name{
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 100;
  }
  #title{
    height: 100px;
    width: 250px;
    float: right;
    margin-right: 6%;
    margin-top: -70px;
  }
}
@media only screen and (max-width: 500px) {
  #event-name{
    position: absolute;
    margin: 0;
    width: 100%;
    z-index: 100;
    font-size: 3em;
  }
  #title{
    height: 100px;
    width: 200px;
    float: right;
    margin-right: 1%;
    margin-top: -70px;
  }
}