.wrapper-sec {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;

  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.module {
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;

  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.18s all ease-in;
}
.module:hover{
    background: #c9c9c9c9;
    transform: scale(1.015);
}
/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

.wrapper-sec{
    margin-top: 50px;
    margin: 0.5em;
    margin-bottom: 100px;
}
.img-wp {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    #ccff33,
    #d1f13e,
    #d5e349,
    #dad553,
    #dfc75e,
    #e3b969,
    #e8ac74,
    #ec9e7f,
    #f1908a,
    #f68294,
    #fa749f,
    #ff66aa
  );
  margin-left: 10px;
}
.img-wp img {
  width: 80%;
}
.title {
  font-family: "Montserrat", sans-serif;
  transition: 0.3s all;
}
.flex-part {
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
}

.arrow {
  background-image: url("../images/arrow-2.png");
  background-position: right;
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 10px;
  background-size: cover;
}
@media only screen and (max-width: 440px){
    .title{
        margin-left: 30px;
    }
    h1{
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 725px) and (max-width: 900px){
    .title{
        margin-left: 30px;
    }

}
@media only screen and (min-width: 1090px) and (max-width: 1270px){
    .title{
        margin-left: 30px;
    }
}
@media only screen and (min-width: 1460px) and (max-width: 1670px){
    .title{
        margin-left: 30px;
    }
}
@media only screen and (min-width: 1671px){
    .wrapper-sec{
        grid-template-columns: repeat(4, minmax(350px, 1fr));
    }
    .title{
        font-size: 1.8em;
    }
}
h1{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    text-indent: 1em;
}

.wrapper-form{
  display: none;
  height: 110vh;
}

svg {
  position: fixed;
  top: 10px;
  left: 140px;
  display: none;
}

.container {
  position: relative;
  top: 170px;
  left: 35%;
  display: block;
  margin-bottom: 80px;
  width: 500px;
  height: 360px;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  box-shadow: 3px 3px 9px 9px lightgray;
}

.title-form {
  padding: 40px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #414141;
  font-family: 'Montserrat', sans-serif;
}

input {
  display: block;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border: none;
}
input::placeholder {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: .5s;
  transition: .5s;
}
input:hover, input:focus, input:active:focus {
  color: #ff5722;
  outline: none;
  border-bottom: 1px solid #ff5722;
}
input:hover::placeholder, input:focus::placeholder, input:active:focus::placeholder {
  color: #ff5722;
  position: relative;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
textarea {
  display: block;
  height: 50px;
  width: 90%;
  margin: 0 auto;
  border: none;
}
textarea::placeholder {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: .5s;
  transition: .5s;
}
textarea:hover, textarea:focus, textarea:active:focus {
  color: #ff5722;
  outline: none;
  border-bottom: 1px solid #ff5722;
}
textarea:hover::placeholder, textarea:focus::placeholder, textarea:active:focus::placeholder {
  color: #ff5722;
  position: relative;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
}
.email,
.pwd {
  position: relative;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #858585;
  font-weight: lighter;
  -webkit-transition: .5s;
  transition: .5s;
}

.btn-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
button {
  cursor: pointer;
  display: inline-block;
  float: left;
  width: 250px;
  height: 60px;
  margin-top: -10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 19px;
}
button:nth-of-type(1) {
  background: #673ab7;
}
button:nth-of-type(2) {
  background: #ff5722;
}
button span {
  text-align: center;
  width: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .5s;
  transition: .5s;
}
button:hover span {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
}

.reg {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%) scale(1);
  transform: translateY(-100%) scale(1);
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #673ab7;
  z-index: 5;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

.sig {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-100%) scale(1);
  transform: translateY(-100%) scale(1);
  display: block;
  width: 20px;
  height: 20px;
  display: block;
  background: #ff5722;
  z-index: 5;
  -webkit-transition: .8s ease-in-out;
  transition: .8s ease-in-out;
}

h3 {
  position: absolute;
  top: -100%;
  left: 20%;
  text-transform: uppercase;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.3);
  -webkit-transition: .3s ease-in-out 1.2s;
  transition: .3s ease-in-out 1.2s;
}

.file-lb{
  background-color: #3498db;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  padding: 6px 20px
}

input[type='file'] {
  display: none
}

