.wrapper-sec {
  /* Grid Fallback */
  display: flex;
  flex-wrap: wrap;

  /* Supports Grid */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 1em;
}

.module {
  background: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;

  /* Flex Fallback */
  margin-left: 5px;
  margin-right: 5px;
  flex: 1 1 200px;
  border-radius: 20px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.18s all ease-in;
}
.module:hover{
    background: #c9c9c9c9;
    transform: scale(1.015);
}
/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
  .module {
    margin: 0;
  }
}

.wrapper-sec{
    margin-top: 50px;
    margin: 0.5em;
    margin-bottom: 100px;
}
.img-wp {
  width: 120px;
  height: 120px;
  border-radius: 120px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    90deg,
    #ccff33,
    #d1f13e,
    #d5e349,
    #dad553,
    #dfc75e,
    #e3b969,
    #e8ac74,
    #ec9e7f,
    #f1908a,
    #f68294,
    #fa749f,
    #ff66aa
  );
  margin-left: 10px;
}
.img-wp img {
  width: 80%;
}
.title {
  font-family: "Montserrat", sans-serif;
  transition: 0.3s all;
}
.flex-part {
  align-items: center;
  justify-content: center;
  width: calc(100% / 3);
}

.arrow {
  background-image: url("../images/arrow-2.png");
  background-position: right;
  width: 50px;
  height: 50px;
  float: right;
  margin-right: 10px;
  background-size: cover;
}
@media only screen and (max-width: 440px){
    .title{
        margin-left: 30px;
    }
    h1{
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 725px) and (max-width: 900px){
    .title{
        margin-left: 30px;
    }

}
@media only screen and (min-width: 1090px) and (max-width: 1270px){
    .title{
        margin-left: 30px;
    }
}
@media only screen and (min-width: 1460px) and (max-width: 1670px){
    .title{
        margin-left: 30px;
    }
}
@media only screen and (min-width: 1671px){
    .wrapper-sec{
        grid-template-columns: repeat(4, minmax(350px, 1fr));
    }
    .title{
        font-size: 1.8em;
    }
}
h1{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    text-indent: 1em;
}
