@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Bruzh";
  src: url("../fonts/Bruzh.ttf");
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue.ttf");
}
@font-face {
  font-family: "Calibre-Bold";
  src: url("../fonts/calibri-bold-2.ttf");
  src: url("../fonts/CalibreWeb-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: bold;
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("../fonts/calibri-7.ttf");
  src: url("../fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype");
}

::-webkit-scrollbar {
  width: 10px;
  transition: 0.4s all;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(100, 100, 100);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #868686;
}
::-moz-selection {
  /* Code for Firefox */
  background: #089ce0;
}

::selection {
  background: #089ce0;
}

.menu-list {
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: 9998;
  overflow: hidden;
  top: 0;
  right: 0;
  margin: 0;
}

#menu-items {
  width: 100vw;
  z-index: 9998;
  top: 0;
  margin: 0;
  height: 100vh;
  position: fixed;
  display: none;
  background: linear-gradient(320deg,rgb(252, 249, 100),rgb(238, 57, 117))
}

.ico {
  width: 60%;
  margin: 0 auto;
  max-width: 200px;
}

.ico:hover {
  cursor: pointer;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.menu-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 40%;
}

.img-link{
  position: relative;
  width: fit-content;
  height: fit-content;
}

.menu-link {
  white-space: pre;
  text-align: center;
  font-weight: bolder;
  color: black;
  text-decoration: none;
  margin: 0 auto;
  transition: 0.3s;
  font-family: "Bebas";
  font-size: 2em;
}

@media only screen and (min-width: 1600px) and (max-width: 2000px){
  .menu-link {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1599px){
  .menu-link {
    font-size: 1.3em;
  }
}

@media only screen and (min-width: 0) and (max-width: 699px){
  .menu-link {
    font-size: 0.8em;
  }

  .menu-item{
    width: 40%;
    height: 30%;
  }
}

.menu-link:hover {
  cursor: pointer;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.close {
  position: absolute;
  z-index: 9999;
  transition: 0.3s;
  will-change: transform;
  width: fit-content;
  padding: 0;
}

.close-img {
  margin: 0;
  transition: 0.3s;
  width: 10%;
  margin-left: 30px;
  margin-top: 30px;
}

.close-img:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

.close-2 {
  position: absolute;
  z-index: 999;
  transition: 0.3s;
  will-change: transform;
  filter: invert(100%);
  width: fit-content;
}

.close-2-img {
  transition: 0.3s ease-out;
  margin-left: 30px;
  margin-top: 30px;
}

.close-2-img:hover {
  cursor: pointer;
  transform: rotate(180deg);
}

#container-contatos {
  margin: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding-left: 8%;
  position: fixed;
  top: -8%;
  overflow: hidden;
}

.table-contato {
  display: none;
  position: fixed;
  margin: 0;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  top: 0;
  overflow: hidden;
}

.div-content{
  transition: all 0.3s;
  width: auto;
  width: 20%;
  padding: 25px;
  border-radius: 30px;
  box-shadow: 0 0 12px rgb(44, 44, 44);
  margin: 30px;
  background: linear-gradient(to left, rgb(212, 248, 113),rgb(255, 99, 146));
}

.flex-contact{
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.3s;
  display: flex;
  margin: auto;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.modal-contato{
  height: fit-content;
  width: 80%;
  position: absolute;
  border-radius: 18px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  overflow: hidden;
  transition: all 0.3s;
}

.subtitulo {
  font-family: "Bebas";
  font-size: 18px;
  color: #000000;
  transition: all 0.3s;
}

.texto {
  font-family: "Open Sans", "PT Sans", sans-serif;
  color: #000000;
  transition: all 0.3s;
  line-height: 25px;
}

.link-contact{
  text-decoration: none;
  color: white;
  background: #0000005b;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 5px;
  transition: all 0.2s;
}

.link-contact:hover{
  background: #000000af;
  cursor: pointer;
}

@media only screen and (min-width: 0px) and (max-width: 699px){
  .div-content{
    width: 50%;
  }
  .flex-contact{
    align-items: flex-start;
  }
}

@media only screen and (min-width: 700px) and (max-width: 900px){
  .div-content{
    width: 30%;
  }
}


@media only screen and (min-width: 0px) and (max-width: 1350px){
  .subtitulo {
    font-size: 14px;
  }
  
  .texto {
    font-size: 10px;
  }
}

@media only screen and (min-width: 1800px){
  .subtitulo {
    font-size: 28px;
  }
  
  .texto {
    font-size: 24px;
  }
}

@media only screen and (min-width: 0) and (max-width: 900px) {
  .container-left table tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .container-left table tr td {
    width: 100%;
  }

  .container-right table tr td {
    width: 100%;
  }

  .container-right table tr {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.container-right {
  box-shadow: 0 0 20px rgb(39, 39, 39) !important;
}

.container-left {
  box-shadow: 0 0 20px rgb(39, 39, 39) !important;
}
#map {
  height: 400%;
  position: fixed;
  top: 0;
}

.menu-container {
  background: linear-gradient(
    136deg,
    #fc6c85,
    #fc6c6d,
    #fc836c,
    #fc9b6c,
    #fc6c9d,
    #fc6cb5,
    #fc6ccd
  );
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  overflow-y: hidden;
}

.gradient {
  position: fixed;
  width: 100%;
  height: 100%;
}

.svg-detalhes-content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5000;
}

#detalhes-artes-back {
  cx: 240;
  cy: 85;
  r: 40;
  fill: #ffffff;
  stroke-width: 0;
  fill-opacity: 0.4;
}

.menu-link-art {
  z-index: 9999;
}

#detalhes-artes {
  cx: 180;
  cy: 150;
  r: 60;
  fill: rgb(255, 255, 255);
  stroke-width: 0;
}

#detalhes-artes-front {
  cx: 215;
  cy: 115;
  r: 5;
  fill: #fc9b6c;
  stroke-width: 0;
}

#menu-bar {
  z-index: 1500;
  width: 100%;
  margin-top: 0%;
  padding-top: 5px;
  position: fixed;
  height: 60px !important;
  top: 0px;
  left: 0;
  right: 0;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 2px !important;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.35);
  background-color: rgb(255, 255, 255);
  transition: 0.3s background, color;
  transition: all 0.1s;
}

#container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95vw;
  height: fit-content;
  margin-left: 0;
}
#logo {
  margin-top: 3px;
  width: 280px;
  font-family: "Bruzh";
  letter-spacing: 0.5em;
  transition: 0.3s all;
}

#logo a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #1a1a1a;
  font-size: 2.5em;
  padding: 0 20px;
}

#bordao {
  transform: translate(280px, -50px);
  font-family: "Bruzh";
  letter-spacing: 0.2em;
  font-size: 0.9em !important;
  transition: 0.3s all;
}

#bordao:hover {
  font-size: 1em !important;
  cursor: pointer;
}

.hover-line {
  color: black;
  font-size: 1.5em;
  white-space: pre;
  text-decoration: none;
}

#search-ico {
  background-image: url("../images/search-ico.png");
  height: 60px;
  position: fixed;
  width: 150px;
  background-size: 30%;
  top: 10px;
  right: -80px !important;
  background-repeat: no-repeat;
  will-change: transform;
  transition: 0.3s;
}

#left {
  visibility: hidden;
}

#right {
  visibility: hidden;
}

#search-ico:hover {
  transform: rotate(-9deg);
  cursor: pointer;
}

#nav-bars {
  background-image: url("../images/bars-ico.png");
  height: 60px;
  text-align: center;
  float: left;
  position: absolute;
  width: 50px;
  background-size: 100%;
  left: 2%;
  top: 8px;
  background-repeat: no-repeat;
  will-change: transform;
  transition: 0.3s;
}

#nav-bars:hover {
  transform: translateX(20px);
  cursor: pointer;
}

.moving-up {
  will-change: transform;
  transition: 0.2s;
  width: 10%;
}

.moving-left {
  will-change: transform;
  transition: 0.3s;
}

.moving-up:hover {
  margin-right: 10px;
}

.moving-left:hover {
  margin-right: 30px;
}

#menu {
  display: none;
  width: 40%;
  transition: 0.3s all;
}

#container-menu {
  transition: 0.4s all ease;
}

#footer {
  transition: 0.3s background, color;
  position: relative;
  bottom: 0;
  padding: 15px;
  height: 120px;
  width: 102%;
  background-color: white;
  z-index: 1001;
  overflow: hidden;
  margin-top: -102px;
  border-top: 1px solid #bebebe8e;
  font-family: "Bruzh";
  letter-spacing: 0.15em;
  font-size: 1.2em;
  -webkit-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -moz-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -o-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.35);
  -moz-box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.35);
  box-shadow: 0px 4px 15px 0px rgba(50, 50, 50, 0.35);
}

.config-img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-out;
}

.footer-config {
  width: 30px;
  margin-left: -100px;
  height: fit-content;
  float: right;
  margin-right: 5%;
  opacity: 0.7;
  transition: transform 0.2s;
  transform: translateY(-5px);
}

.footer-config:hover {
  cursor: pointer;
  opacity: 1 !important;
}

.config {
  transition: all 0.4s;
  display: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(50, 50, 50, 0.548);
  background-color: white;
  width: 185px;
  list-style: none;
  padding: 10px;
  z-index: 9999;
  right: 1%;
  position: absolute;
  margin-bottom: 0;
  transform: translateY(-45px);
}

.line-config {
  border: none;
  height: 1px;
  background-color: rgb(95, 95, 95);
}

.config-link {
  font-family: "bebas";
  font-weight: normal;
  letter-spacing: 0.1em;
  font-size: 0.86em;
  transition: font-size 100ms;
}

.config-link:hover {
  cursor: pointer;
}

.config-link-clicked:hover {
  opacity: 0.7;
}

.config-link-clicked {
  font-size: 0.9em;
  font-weight: bold;
}
.config-link-hover:hover {
  font-weight: bold !important;
}
.config-link-hover {
  font-weight: normal !important;
}
#config-container {
  position: relative;
}

#copyright {
  font-family: "Bruzh";
  letter-spacing: 0.15em;
  font-size: 1.2em;
  padding: 20px 0 30px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 100vw;
  margin: 0;
}

#footer-name {
  background-color: white;
  text-align: center;
  width: 100%;
  top: 3px;
  font-family: "Bruzh";
  letter-spacing: 0.5em;
}

#lower-footer {
  width: 100%;
  text-align: center;
}

.span-bar {
  margin-left: 21px;
  margin-right: 21px;
}

#line-containers {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-link {
  font-family: "Bebas";
  transition: none !important;
}

.footer-link:hover {
  cursor: pointer;
  font-weight: bolder;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

/* Responsividade do footer*/

@media only screen and (min-width: 0px) and (max-width: 660px) {
  #footer,
  #copyright,
  #footer-name {
    letter-spacing: 0.1em;
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 0px) and (max-width: 560px) {
  #footer,
  #copyright,
  #footer-name {
    letter-spacing: 0.1em;
    font-size: 1em;
  }
  .span-bar {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 430px) {
  #footer,
  #copyright,
  #footer-name {
    letter-spacing: 0.07em;
    font-size: 0.95em;
  }
  .span-bar {
    margin-left: 8px;
    margin-right: 8px;
  }
  .config-img {
    width: 20px;
    margin-top: 10px;
  }
}

#footer,
#copyright,
#footer-name {
  transition: 0.5s all;
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
  #footer,
  #copyright,
  #footer-name {
    letter-spacing: 0.05em;
    font-size: 0.88em;
  }
  .span-bar {
    margin-left: 5px;
    margin-right: 5px;
  }
  .config-img {
    width: 20px;
    margin-top: 12px;
  }
}

/*Respondividade da bar*/
@media only screen and (min-width: 0px) and (max-width: 350px) {
  #logo {
    left: 10.5% !important;
    width: 210px !important;
    letter-spacing: 0.2em !important;
    font-size: 10px !important;
    transform: translateY(-15px) !important;
  }
  #container-logo {
    width: 105vw;
  }
  .intro {
    margin-top: -20px;
  }
  #search-ico {
    top: 12px !important;
  }

  #nav-bars {
    top: 12px !important;
    left: 15px !important;
  }
  #menu-bar {
    height: 40px !important;
  }
  #bordao {
    transform: translate(140px, -50px) !important;
  }
}

@media only screen and (min-width: 400px) and (max-width: 501px) {
  #logo {
    left: 20.5% !important;
  }
}

@media only screen and (min-width: 0px) and (max-width: 481px) {
  #logo {
    letter-spacing: 0.2em;
    top: -5px;
    font-size: 0.9em;
    transform: translate(10px, 0);
  }

  #search-ico {
    height: 30px;
    position: absolute !important;
    width: 50px;
    background-size: 40%;
    right: -25px !important;
    top: 20px;
  }

  #nav-bars {
    height: 30px;
    text-align: center;
    float: left;
    position: absolute;
    width: 50px;
    background-size: 40%;
    left: 2%;
    top: 20px;
  }
  #bordao {
    transform: translate(205px, -50px);
  }
}
@media only screen and (min-width: 482px) and (max-width: 615px) {
  #logo {
    left: 20.5%;
    width: 280px;
    letter-spacing: 0.2em;
  }

  #bordao {
    transform: translate(220px, -50px);
  }

  #search-ico {
    height: 40px;
    position: absolute;
    width: 91px;
    background-size: 40%;
    right: -35px !important;
    top: 15px;
  }

  #nav-bars {
    height: 40px;
    text-align: center;
    float: left;
    position: absolute;
    width: 91px;
    background-size: 40%;
    left: 2%;
    top: 15px;
  }
}
@media only screen and (min-width: 616px) and (max-width: 950px) {
  #logo {
    left: 30.5%;
    width: 280px;
    letter-spacing: 0.2em;
  }

  #bordao {
    transform: translate(220px, -50px);
  }

  #search-ico {
    height: 50px;
    position: absolute;
    width: 110px;
    background-size: 40%;
    right: -45px !important;
    top: 12px;
  }

  #nav-bars {
    height: 50px;
    text-align: center;
    float: left;
    position: absolute;
    width: 110px;
    background-size: 40%;
    left: 2%;
    top: 12px;
  }
}
@media only screen and (min-width: 1550px) and (max-width: 1850px) {
  #logo {
    left: 40.5%;
    width: 320px;
    letter-spacing: 0.3em;
    font-size: 1.2em;
  }

  #search-ico {
    height: 50px;
    position: absolute;
    width: 110px;
    background-size: 40%;
    right: -40px !important;
    top: 12px;
  }

  #nav-bars {
    height: 50px;
    text-align: center;
    float: left;
    position: absolute;
    width: 110px;
    background-size: 40%;
    left: 2%;
    top: 12px;
  }
}

@media only screen and (min-width: 1850px) {
  #logo {
    left: 45.5%;
    width: 350px;
    letter-spacing: 0.4em;
    font-size: 1.3em;
  }
  #bordao {
    transform: translate(340px, -50px);
  }
}

/*Responsividade do Footer*/
@media only screen and (min-width: 0) and (max-width: 650px) {
  .footer-config {
    transform: translateY(-60px);
  }
  .config {
    transform: translateY(-105px);
  }
}
@media only screen and (min-width: 0) and (max-width: 900px) {
  .footer-config {
    margin-right: 6%;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 0px) and (max-width: 461px) {
  #footer {
    padding-left: 0;
  }
}
@media only screen and (min-width: 462px) and (max-width: 615px) {
  #footer {
    padding-left: 0;
  }
}

/*Small Footer*/
#small-footer {
  transition: 0.3s all;
  position: absolute;
  bottom: 0;
  height: 58px;
  width: 100%;
  background-color: white;
  z-index: 9999 !important;
  margin-bottom: 0;
  border-top: 1px solid #bebebe8e;
  font-family: "Bruzh";
  letter-spacing: 0.15em;
  font-size: 1.1em;
  transition: 2s all;
  -webkit-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -moz-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -o-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
}

#dark-mode-link-smf {
  position: absolute;
  right: 2.1%;
  bottom: 20%;
  font-family: "Bebas";
  font-size: 1.5em;
  float: right;
  z-index: 1000;
}

#dark-mode-link-smf:hover {
  font-weight: bold;
  cursor: pointer;
}

#use-terms-smf {
  position: absolute;
  left: 1%;
  bottom: 20%;
  font-family: "Bebas";
  font-size: 1.5em;
  float: left;
  z-index: 1000;
}
@media only screen and (min-width: 0px) and (max-width: 349px) {
  #dark-mode-link-smf {
    font-size: 0.8em !important;
  }
  #use-terms-smf {
    font-size: 0.8em !important;
  }
  #copyright-small-footer {
    font-size: 1em !important;
    margin-bottom: 15px !important;
    margin-top: 10px !important;
  }
}

@media only screen and (min-width: 350px) and (max-width: 500px) {
  #dark-mode-link-smf {
    font-size: 1.1em !important;
  }
  #use-terms-smf {
    font-size: 1.1em !important;
  }
  #copyright-small-footer {
    font-size: 1em !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
  }
}

#use-terms-smf:hover {
  font-weight: bold;
  cursor: pointer;
}

.footer-link {
  font-family: "Bebas";
}

.footer-link:hover {
  cursor: pointer;
  font-weight: bolder;
}
#copyright-small-footer {
  font-family: "Bruzh";
  letter-spacing: 0.1em;
  font-size: 1.9em;
  margin-top: 0.9%;
  left: 0;
  right: 0;
  width: 100vw;
  text-align: center;
  transition: 0.5s all;
}
/* Responsividade do small-footer*/

@media only screen and (min-width: 0) and (max-width: 900px) {
  #copyright-small-footer {
    letter-spacing: 0.1em;
    font-size: 1.3em;
  }
  #dark-mode-link-smf {
    font-size: 1.2em;
  }
  #use-terms-smf {
    font-size: 1.2em;
    margin-left: 8px;
  }
}

#palaces-container {
  height: fit-content;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 0;
  z-index: 999;
  position: fixed;
  display: none;
}

svg.intro {
  background: linear-gradient(
          90deg, 
          rgba(240, 180, 76, 1) 0%,
          rgba(240, 75, 191, 1) 50%,
          rgba(75, 240, 180, 1) 100%
        ) !important;
  background-repeat: no-repeat;
  image-orientation: from-image;
  background-size: cover;
  width: 100%;
  height: 12vh;
  box-shadow: 0px 0px 20px rgb(0, 0, 0) inset;
  max-height: 80px;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  transform: translateY(-150px);
  transition: 0.4s all;
}

svg.intro .text {
  display: none;
}

svg.intro.go .text {
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  display: block;
  transition: 0.5s all;
}

svg.intro.go .text-stroke {
  fill: none;
  stroke: #47256f;
  stroke-width: 2.2px;
  stroke-dashoffset: -900;
  stroke-dasharray: 900;
  stroke-linecap: butt;
  stroke-linejoin: round;
  animation: dash 2.5s ease-in-out forwards;
}

svg.intro.go .text-stroke:nth-child(2) {
  animation-delay: 0.3s;
}

svg.intro.go .text-stroke:nth-child(3) {
  animation-delay: 0.9s;
}

svg.intro.go .text-stroke-2 {
  stroke: #ffffff;
  animation-delay: 1.2s;
}

svg.intro.go .text-stroke:nth-child(5) {
  animation-delay: 1.5s;
}

svg.intro.go .text-stroke:nth-child(6) {
  animation-delay: 1.8s;
}

@keyframes dash {
  100% {
    stroke-dashoffset: 0;
  }
}

@media only screen and (min-width: 0px) and (max-width: 549px) {
  svg.intro.go .text {
    font-size: 15px;
    stroke-width: 1px;
  }
  #text1 {
    transform: translate(-180px, -35px);
  }
  #text2 {
    transform: translate(-550px, -15px);
  }
  #text3 {
    transform: translate(-1000px, 5px);
  }
}

@media only screen and (min-width: 550px) and (max-width: 599px) {
  svg.intro.go .text {
    font-size: 20px;
    stroke-width: 1px;
  }
  #text1 {
    transform: translate(-150px, -8px);
  }
  #text2 {
    transform: translate(-380px, -8px);
  }
  #text3 {
    transform: translate(-600px, -8px);
  }
}

@media only screen and (min-width: 600px) and (max-width: 699px) {
  svg.intro.go .text {
    font-size: 30px;
    stroke-width: 1px;
  }
  #text3 {
    transform: translate(-600px, -8px);
  }
  #text2 {
    transform: translate(-370px, -8px);
  }
  #text1 {
    transform: translate(-110px, -8px);
  }
}

@media only screen and (min-width: 700px) and (max-width: 799px) {
  svg.intro.go .text {
    font-size: 30px;
    stroke-width: 1px;
  }
  #text3 {
    transform: translate(-530px, -8px);
  }
  #text2 {
    transform: translate(-290px, -8px);
  }
  #text1 {
    transform: translate(-40px, -8px);
  }
}

@media only screen and (min-width: 800px) and (max-width: 950px) {
  svg.intro.go .text {
    font-size: 30px;
    stroke-width: 1px;
  }
  #text3 {
    transform: translate(-420px, -5px);
  }
  #text2 {
    transform: translate(-260px, -5px);
  }
  #text1 {
    transform: translate(-80px, -5px);
  }
}

@media only screen and (min-width: 951px) and (max-width: 1150px) {
  svg.intro.go .text {
    font-size: 40px;
    stroke-width: 1.5px;
  }
  #text1 {
    transform: translate(-100px, -2px);
  }
  #text2 {
    transform: translate(-200px, -2px);
  }
  #text3 {
    transform: translate(-300px, -2px);
  }
}

@media only screen and (min-width: 1151px) and (max-width: 1300px) {
  svg.intro.go .text {
    font-size: 48px;
  }
  #text1 {
    transform: translateX(-100px);
  }
  #text2 {
    transform: translateX(-100px);
  }
  #text3 {
    transform: translateX(-100px);
  }
}

@media only screen and (min-width: 1301px) and (max-width: 1550px) {
  svg.intro.go .text {
    font-size: 48px;
  }
}

@media only screen and (min-width: 1551px) and (max-width: 1650px) {
  svg.intro.go .text {
    font-size: 55px;
  }
  #text2 {
    transform: translateX(70px);
  }
  #text3 {
    transform: translateX(100px);
  }
}

@media only screen and (min-width: 1651px) and (max-width: 1800px) {
  svg.intro.go .text {
    font-size: 60px;
  }
  #text2 {
    transform: translateX(100px);
  }
  #text3 {
    transform: translateX(190px);
  }
}

@media only screen and (min-width: 1800px) {
  svg.intro.go .text {
    font-size: 55px;
  }
  #text1 {
    transform: translateX(-150px);
  }
  #text2 {
    transform: translateX(-300px);
  }
  #text3 {
    transform: translateX(-410px);
  }
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  .container-left table tr td {
    font-size: 1em !important;
    padding: 5px;
  }

  .container-right table tr td {
    font-size: 1em !important;
    padding: 5px;
  }
}

body.loading{
  overflow: hidden !important;
}
body.loading > .corpo{
  overflow: hidden !important;
}

