@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.otf");
}

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;
  
    /* Create the gradient. */
    background-image: linear-gradient(45deg, rgb(240,142,118) 20%, rgb(210,105,189),rgb(75,240,180) );
  
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
  
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
  
  /* Style the rest of the page. */
  body {
    background-color: #efefef;
    overflow: hidden !important;
    height: 100vh;
    font-family: 'Poppins',sans-serif;
  }
  
  header {
    margin-top: calc(30vh - 3em);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    font-size: 8em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    margin-bottom: -0.25em;
  }
  .exp-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .explanation {
    width: 60%;
    text-align: center;
    font-size: 1.3em;
  }
  .menu-bar {
    position: fixed !important;
  }
  @media only screen and (min-width: 400px) and (max-width: 700px) {
    h1 {
      font-size: 6em;
      max-width: 80%;
    }
    #error-500 {
      font-size: 4em !important;
    }
  }
  @media only screen and (max-width: 400px) {
    h1 {
      font-size: 4em;
      max-width: 80%;
    }
    .explanation {
      width: 70%;
      font-size: 1.1em;
    }
    #error-500 {
      font-size: 3.5em !important;
    }
  }
  @media only screen and (max-width: 970px) {
    header {
      margin-top: calc(20vh - 3em);
    }
  }

  #error-500 {
    font-size: 6em;
  }

  #error-oops{
    font-size: 7em;
  }
  .oops-bg{
    height: 100vh !important;
    width: 100vw !important;
    background-image: url('../images/error-page-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .oops-header{
    position: absolute !important;
    top: 20vh !important;
    margin: 0 !important;
    width: 100% !important;
    text-align: center !important;
    font-family: 'Poppins' !important;
  }
  .oops-header + .exp-wrapper{
    position: absolute !important;
    top: 50vh !important;
    margin: 0 !important;
    left: 0% !important;
    font-family: 'Poppins' !important;
    color: #232323 !important;
    font-size: 1.5em !important;
  }
  .oops-fullpage-blur{
    filter: blur(4px);
  }
  