html {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: #123;
}

body,
head {
  display: block;
  font-size: 52px;
  color: transparent;
}

head::before,
head::after,
body::before,
body::after {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
  content: ".";
  mix-blend-mode: screen;
  animation: 44s -27s move infinite ease-in-out alternate;
}

body::before {
  text-shadow: 0.3255330133em 0.3372544142em 7px rgba(0, 56, 255, 0.9),
    1.7073922737em 2.0866311727em 7px rgba(255, 0, 46, 0.9),
    1.8234430163em 1.0065158359em 7px rgba(255, 14, 0, 0.9),
    2.0840424522em 1.0170666933em 7px rgba(255, 0, 124, 0.9),
    0.8304096983em 0.475774385em 7px rgba(192, 255, 0, 0.9),
    0.8850520903em 0.9595194012em 7px rgba(0, 125, 255, 0.9),
    -0.145541807em 0.2603276525em 7px rgba(0, 244, 255, 0.9),
    0.6302398345em 0.5187273296em 7px rgba(185, 0, 255, 0.9),
    0.596249683em -0.1031505184em 7px rgba(255, 135, 0, 0.9),
    2.0563960102em 0.0451497201em 7px rgba(255, 97, 0, 0.9),
    1.1181685483em 0.7544938233em 7px rgba(210, 255, 0, 0.9),
    -0.4016927682em 0.4789258894em 7px rgba(0, 100, 255, 0.9),
    2.0223206291em 1.7702987722em 7px rgba(0, 255, 200, 0.9),
    1.0745687337em 1.8802273603em 7px rgba(0, 255, 113, 0.9),
    0.3294779467em 2.2381344476em 7px rgba(255, 159, 0, 0.9),
    2.351859268em 2.4008932793em 7px rgba(0, 213, 255, 0.9),
    -0.420162681em 0.6442860426em 7px rgba(67, 0, 255, 0.9),
    0.4982911354em 1.0196627739em 7px rgba(0, 24, 255, 0.9),
    1.2270078454em 1.8452188862em 7px rgba(0, 83, 255, 0.9),
    2.2325538271em 1.3423014447em 7px rgba(199, 0, 255, 0.9),
    -0.1313236267em 1.8809321644em 7px rgba(255, 216, 0, 0.9),
    -0.4974762767em 1.9113943175em 7px rgba(101, 0, 255, 0.9),
    1.2796858883em 0.2266607193em 7px rgba(255, 0, 48, 0.9),
    0.2757648878em 2.3121276589em 7px rgba(0, 112, 255, 0.9),
    1.5418548535em 0.4378958729em 7px rgba(220, 0, 255, 0.9),
    0.5409949059em 1.9365551376em 7px rgba(193, 255, 0, 0.9),
    1.4810205146em 0.5725014281em 7px rgba(0, 8, 255, 0.9),
    -0.0852178553em 1.0497760248em 7px rgba(0, 255, 168, 0.9),
    1.4545159767em 0.0484250653em 7px rgba(14, 255, 0, 0.9),
    1.7233387875em 0.0341836735em 7px rgba(0, 255, 216, 0.9),
    1.9703959119em 0.1617420597em 7px rgba(255, 0, 139, 0.9),
    1.0133316172em 2.2731703198em 7px rgba(255, 0, 109, 0.9),
    0.1460179114em 0.6166622619em 7px rgba(0, 215, 255, 0.9),
    0.8797642384em 1.3174202529em 7px rgba(0, 51, 255, 0.9),
    0.1993923978em 0.0787363685em 7px rgba(0, 0, 255, 0.9),
    0.6886673305em 2.0512389707em 7px rgba(78, 255, 0, 0.9),
    1.2008812309em 2.1431502599em 7px rgba(255, 20, 0, 0.9),
    1.3269378568em 1.8014972548em 7px rgba(255, 227, 0, 0.9),
    2.447776548em 1.2856299478em 7px rgba(75, 0, 255, 0.9),
    -0.38480126em 0.7512426529em 7px rgba(126, 0, 255, 0.9),
    0.2487381339em 0.0881939297em 7px rgba(255, 149, 0, 0.9);
  animation-duration: 44s;
  animation-delay: -27s;
}

body::after {
  text-shadow: 0.1842454514em 1.9391862125em 7px rgba(255, 0, 172, 0.9),
    -0.4728026225em 1.1974779229em 7px rgba(255, 230, 0, 0.9),
    -0.3423307269em 2.4643528867em 7px rgba(195, 255, 0, 0.9),
    2.0149890545em 0.7442902523em 7px rgba(255, 131, 0, 0.9),
    -0.3165303575em 0.7998353982em 7px rgba(0, 255, 235, 0.9),
    0.5060259508em 0.7089118168em 7px rgba(255, 167, 0, 0.9),
    0.7107611319em -0.1747606135em 7px rgba(0, 255, 53, 0.9),
    1.4398291193em 0.7089078396em 7px rgba(0, 255, 32, 0.9),
    -0.4447022388em -0.1379380131em 7px rgba(97, 255, 0, 0.9),
    0.8538136944em 0.3628557509em 7px rgba(91, 0, 255, 0.9),
    2.0857811499em 2.3460290385em 7px rgba(0, 255, 136, 0.9),
    1.590224932em 0.3702197268em 7px rgba(0, 187, 255, 0.9),
    2.4383616179em 1.3200325933em 7px rgba(0, 255, 255, 0.9),
    2.0929513844em -0.3597481763em 7px rgba(0, 227, 255, 0.9),
    1.0722508333em 0.3351559268em 7px rgba(149, 0, 255, 0.9),
    0.1744693866em 0.5887478206em 7px rgba(255, 0, 105, 0.9),
    0.1228868582em 1.5451672823em 7px rgba(0, 255, 198, 0.9),
    1.6178053635em 0.047481995em 7px rgba(10, 0, 255, 0.9),
    0.5983333862em -0.355935718em 7px rgba(0, 145, 255, 0.9),
    0.2863904837em 0.0572166762em 7px rgba(255, 0, 192, 0.9),
    0.4044502106em 0.5143739557em 7px rgba(155, 0, 255, 0.9),
    0.0249829498em 1.4690077302em 7px rgba(255, 51, 0, 0.9),
    0.8721595939em 1.7623532674em 7px rgba(255, 149, 0, 0.9),
    -0.3976511205em 2.013051771em 7px rgba(12, 255, 0, 0.9),
    1.8651310414em -0.3053708768em 7px rgba(96, 255, 0, 0.9),
    -0.0410370674em -0.0726388289em 7px rgba(255, 0, 130, 0.9),
    -0.3858345864em 0.8184578541em 7px rgba(255, 0, 83, 0.9),
    0.4884771687em 2.3938434638em 7px rgba(255, 97, 0, 0.9),
    -0.1009297533em 2.2783425864em 7px rgba(0, 255, 142, 0.9),
    -0.4244004847em -0.2931068336em 7px rgba(28, 255, 0, 0.9),
    0.2221212656em 0.7044789108em 7px rgba(8, 0, 255, 0.9),
    -0.1982038167em 1.7080375448em 7px rgba(255, 93, 0, 0.9),
    0.3406625864em 1.7344691274em 7px rgba(255, 174, 0, 0.9),
    1.5542324809em 0.5806744547em 7px rgba(0, 255, 150, 0.9),
    1.3170044135em 1.1904484294em 7px rgba(0, 163, 255, 0.9),
    1.2207955933em 2.1728357324em 7px rgba(68, 255, 0, 0.9),
    0.3719028906em -0.370875176em 7px rgba(1, 0, 255, 0.9),
    1.3401354736em 0.5442345073em 7px rgba(255, 0, 113, 0.9),
    2.4404957999em 2.2109731937em 7px rgba(255, 0, 178, 0.9),
    1.3953094862em 0.0010589714em 7px rgba(255, 151, 0, 0.9),
    1.4962031749em -0.3373249587em 7px rgba(0, 137, 255, 0.9);
  animation-duration: 43s;
  animation-delay: -32s;
}

head::before {
  text-shadow: -0.171873933em 0.8618785761em 7px rgba(77, 0, 255, 0.9),
    0.4116741797em -0.0970089055em 7px rgba(58, 0, 255, 0.9),
    2.0433599165em 1.7888048031em 7px rgba(133, 0, 255, 0.9),
    2.2473435445em -0.4913354503em 7px rgba(67, 0, 255, 0.9),
    1.6726147393em 0.9115977042em 7px rgba(255, 0, 199, 0.9),
    1.4949180035em 2.0550145338em 7px rgba(0, 53, 255, 0.9),
    -0.4731656444em -0.3551504781em 7px rgba(0, 255, 168, 0.9),
    0.8194707532em -0.1966319425em 7px rgba(255, 0, 239, 0.9),
    -0.1563839945em 2.1892046159em 7px rgba(255, 254, 0, 0.9),
    0.185246431em 1.1730481229em 7px rgba(255, 0, 201, 0.9),
    1.2275714056em 0.0108041487em 7px rgba(255, 0, 148, 0.9),
    0.0351857894em 1.1679229318em 7px rgba(0, 142, 255, 0.9),
    1.7853340294em 1.3815335563em 7px rgba(0, 196, 255, 0.9),
    2.3580213999em 2.2181735764em 7px rgba(255, 0, 44, 0.9),
    2.3572204109em 1.7732035323em 7px rgba(255, 0, 35, 0.9),
    0.1206963906em 1.6960150715em 7px rgba(0, 255, 104, 0.9),
    0.2566580922em 0.797361522em 7px rgba(93, 0, 255, 0.9),
    1.9286305723em 1.548328388em 7px rgba(255, 0, 31, 0.9),
    1.7076273653em 1.3877039246em 7px rgba(169, 255, 0, 0.9),
    1.4762845393em 0.5262511255em 7px rgba(255, 0, 31, 0.9),
    1.3199218277em -0.2367519257em 7px rgba(255, 0, 117, 0.9),
    1.0490487935em 2.284560676em 7px rgba(34, 0, 255, 0.9),
    0.7185378301em 0.9880303762em 7px rgba(0, 255, 217, 0.9),
    0.9135348098em 1.4085448237em 7px rgba(32, 0, 255, 0.9),
    0.10267222em 0.3226214314em 7px rgba(237, 255, 0, 0.9),
    -0.4940100223em 2.4082989705em 7px rgba(188, 255, 0, 0.9),
    0.6454062841em 1.3327770763em 7px rgba(0, 22, 255, 0.9),
    1.6096240921em 0.6488298647em 7px rgba(244, 0, 255, 0.9),
    1.6288963859em 2.248469023em 7px rgba(180, 255, 0, 0.9),
    1.2066815924em 2.4043786178em 7px rgba(0, 55, 255, 0.9),
    -0.3033221822em 1.5844684225em 7px rgba(0, 255, 15, 0.9),
    0.1643301677em -0.1681246064em 7px rgba(0, 222, 255, 0.9),
    0.0565174811em 0.0981873623em 7px rgba(255, 0, 86, 0.9),
    0.9435438516em 0.6752103352em 7px rgba(255, 0, 34, 0.9),
    1.6139305311em 0.884287589em 7px rgba(255, 0, 250, 0.9),
    1.54355202em 0.1716283247em 7px rgba(0, 230, 255, 0.9),
    0.2335232024em 2.3350067788em 7px rgba(0, 228, 255, 0.9),
    0.6944173904em -0.1850367295em 7px rgba(0, 36, 255, 0.9),
    0.2974092897em -0.254010112em 7px rgba(31, 0, 255, 0.9),
    1.582393924em 0.672339245em 7px rgba(77, 255, 0, 0.9),
    1.2573003771em 1.5026933788em 7px rgba(0, 140, 255, 0.9);
  animation-duration: 42s;
  animation-delay: -23s;
}

head::after {
  text-shadow: 1.9692251555em 0.4687186572em 7px rgba(0, 255, 174, 0.9),
    0.6693872302em -0.1041002252em 7px rgba(255, 14, 0, 0.9),
    2.0911920732em 2.1240871082em 7px rgba(129, 0, 255, 0.9),
    2.2395911558em -0.3884154317em 7px rgba(255, 34, 0, 0.9),
    0.504136182em 0.3940927358em 7px rgba(255, 170, 0, 0.9),
    0.9281792327em 1.7434360155em 7px rgba(104, 0, 255, 0.9),
    1.452740574em 0.5148324521em 7px rgba(255, 0, 44, 0.9),
    0.0153847136em 1.4266003288em 7px rgba(30, 0, 255, 0.9),
    -0.4485013124em -0.1386648755em 7px rgba(255, 194, 0, 0.9),
    1.0791033062em 1.2112928655em 7px rgba(255, 255, 0, 0.9),
    0.887284945em -0.4607176986em 7px rgba(255, 0, 122, 0.9),
    1.3587671576em 1.2483395616em 7px rgba(208, 0, 255, 0.9),
    -0.4364143577em 0.1660111992em 7px rgba(73, 255, 0, 0.9),
    1.7216356511em 0.4257857151em 7px rgba(0, 166, 255, 0.9),
    0.3092443776em 1.6739265971em 7px rgba(113, 255, 0, 0.9),
    -0.035228076em -0.1755614146em 7px rgba(118, 255, 0, 0.9),
    2.2485930628em 2.3632226064em 7px rgba(60, 0, 255, 0.9),
    2.0423381412em 2.3977817969em 7px rgba(163, 0, 255, 0.9),
    0.1960036596em 1.4892792928em 7px rgba(61, 0, 255, 0.9),
    1.6863957568em 1.1994991123em 7px rgba(0, 255, 122, 0.9),
    -0.311280266em 0.2098215665em 7px rgba(0, 87, 255, 0.9),
    2.3291700575em 0.1630942068em 7px rgba(232, 255, 0, 0.9),
    0.0593947499em 2.4144559505em 7px rgba(13, 0, 255, 0.9),
    0.7399580983em 2.0612774689em 7px rgba(55, 255, 0, 0.9),
    0.5096378088em 0.6850720533em 7px rgba(8, 0, 255, 0.9),
    2.3128389474em 1.6744026284em 7px rgba(0, 255, 44, 0.9),
    1.8222210979em -0.2303566312em 7px rgba(255, 6, 0, 0.9),
    0.5917432926em 0.9280445584em 7px rgba(49, 255, 0, 0.9),
    1.2363929978em 0.9608313075em 7px rgba(0, 226, 255, 0.9),
    -0.0963333893em 0.6568858554em 7px rgba(188, 0, 255, 0.9),
    1.9311941274em 0.3622862987em 7px rgba(0, 255, 235, 0.9),
    -0.3761306633em 2.1822240511em 7px rgba(0, 255, 60, 0.9),
    0.1904062349em 1.1260078103em 7px rgba(222, 0, 255, 0.9),
    1.4098587267em 1.2561468479em 7px rgba(255, 52, 0, 0.9),
    0.9806886113em 0.7933104812em 7px rgba(235, 0, 255, 0.9),
    1.5944229569em 1.6526517756em 7px rgba(255, 140, 0, 0.9),
    0.9616978157em 1.0595805987em 7px rgba(0, 139, 255, 0.9),
    0.1963702495em 1.549222171em 7px rgba(33, 255, 0, 0.9),
    2.1766085936em 1.343033173em 7px rgba(132, 255, 0, 0.9),
    0.4525930974em 1.9935638058em 7px rgba(96, 0, 255, 0.9),
    -0.0299530088em 0.8596637069em 7px rgba(0, 220, 255, 0.9);
  animation-duration: 41s;
  animation-delay: -19s;
}

html::before {
  content: "DeLight\A A CSS DEMO";
  letter-spacing: 0.5em;
  text-shadow: 0 0 5px #000;
  white-space: pre;
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #999;
}

html:first-line {
  font-size: 300%;
  font-style: italic;
  letter-spacing: 0;
  color: #fff;
}

@keyframes move {
  from {
    transform: rotate(0deg) scale(12) translateX(-20px);
  }
  to {
    transform: rotate(360deg) scale(18) translateX(20px);
  }
}

/*# sourceMappingURL=perfil-animation.css.map */
