@font-face {
  font-family: "Bruzh";
  src: url("../fonts/Bruzh.ttf");
}
@font-face {
  font-family: "Bebas-Neue-Regular";
  src: url("../fonts/BebasNeue-Regular.ttf");
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-light.otf");
}

html,
body {
  width: 100%;
  max-height: 100%;
  overflow-x: hidden;
  color: #232322;
}

.gradient {
  position: absolute !important;
  width: 100%;
  height: 220px !important;
  right: 10px;
  z-index: 192;
  transition: all 0.8s, border-radius 0.2s;
  border-bottom-left-radius: 1000px;
  border-bottom-right-radius: 1000px;
  background: linear-gradient(
    to right,
    rgb(137, 124, 255),
    rgb(255, 129, 181)
  ) !important;
}

.part-2 {
  margin-bottom: 0;
  height: fit-content;
  width: 100vw;
  background-color: white;
  overflow: hidden;
}
.last {
  margin-bottom: 50px;
}
.bg {
  right: 10px;
  z-index: 1;
  background-image: url("/src/assets/images/circles.png");
  position: absolute;
  width: 100%;
  height: 220px;
  z-index: 195;
  animation-name: bg-circles;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  filter: blur(5px);
  transition: all 0.2s;
}
.first {
  margin-top: 300px !important;
}
.title {
  position: absolute;
  transition: all 0.2s;
  right: 10px;
  width: 100%;
  height: 220px;
  display: flex;
  z-index: 199;
  box-shadow: 0 0 30px black;
}
.page-title {
  font-family: "Bebas-Neue-Regular";
  color: white;
  font-size: 45px;
  margin-left: 40px;
  margin-top: 90px;
}

.image {
  position: sticky;
  z-index: 100;
  border-radius: 15px;
  width: 55%;
  box-shadow: 0 15px 16.83px 0.17px rgba(0, 0, 0, 0.445);
}

#exposicao {
  margin-top: 8%;
  margin-left: 2%;
}

#museu {
  margin-top: 3%;
  margin-left: 6%;
  margin-bottom: 4%;
}

.box {
  transition: 0.3s all;
}

.animar {
  opacity: 1;
}

#mouse {
  display: block;
  width: 22px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid rgb(255, 255, 255);
  text-align: center;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 20px;
  margin: 0 auto;
  z-index: 900;
}

#mouse::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  position: relative;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  animation-name: mouse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

.sobre {
  position: inherit;
  opacity: 0.7;
  background-color: rgb(255, 255, 255);
  padding: 3%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  margin-bottom: 5%;
  border-radius: 5px;
  width: 48%;
}

#container {
  padding-top: 8%;
  margin-left: 5%;
}

#title {
  margin-top: 20%;
  font-family: "Bebas-neue-regular";
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  font-size: 40px;
}

#text {
  z-index: 900;
  padding: 5%;
  padding-top: 3%;
  position: fixed;
  width: 25%;
  height: 100%;
  right: 10px;
  top: 0;
  background-color: rgb(226, 226, 224);
  opacity: 0.8;
  font-family: "Bebas-Neue-Regular";
  line-height: 135%;
  letter-spacing: 1px;
  font-size: 16px;
  color: rgb(71, 71, 71);
  text-align: center;
}

#texto2,
#texto3,
#texto4,
#texto5 {
  display: none;
}

.linha {
  background-color: rgb(121, 121, 121);
  width: 70%;
  height: 3px;
  border-radius: 10px;
  margin: auto;
  margin-bottom: 5%;
  margin-top: 5%;
}

@keyframes mouse {
  from {
    top: 0px;
  }
  to {
    top: 6px;
  }
}
@keyframes bg-circles {
  0% {
    opacity: 0.2;
  }
  10% {
    opacity: 0.4;
  }
  15% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.6;
  }
  23% {
    opacity: 0.65;
  }
  25% {
    opacity: 0.7;
  }
  26% {
    opacity: 0.75;
  }
  30% {
    opacity: 0.8;
  }
  35% {
    opacity: 0.9;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0.9;
  }
  53% {
    opacity: 0.85;
  }
  57% {
    opacity: 0.8;
  }
  61% {
    opacity: 0.76;
  }
  70% {
    opacity: 0.7;
  }
  73% {
    opacity: 0.65;
  }
  76% {
    opacity: 0.6;
  }
  78% {
    opacity: 0.55;
  }
  81% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.4;
  }
  92% {
    opacity: 0.35;
  }
  95% {
    opacity: 0.3;
  }
  96% {
    opacity: 0.29;
  }
  969% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.2;
  }
}

.container-right {
  /*DIV PARA TODOS OS CARDS*/
  padding: 3%;
  padding-top: 1.5%;
  position: relative;
  margin-left: 38%;
  width: 45%;
  border-radius: 20px;
  height: max-content;
  box-shadow: 0 0 25px rgb(54, 53, 53);
  vertical-align: top;
  margin-top: 5%;
  z-index: 100;
  background-color: white;
}

.container-left {
  /*DIV PARA TO CARD INICIAL*/
  padding: 3%;
  padding-top: 1.5%;
  position: relative;
  margin-left: 11%;
  width: 53%;
  border-radius: 20px;
  height: max-content;
  box-shadow: 0 0 25px rgb(54, 53, 53);
  vertical-align: top;
  margin-top: 5%;
  z-index: 100;
  background-color: white;
}

.text-title {
  font-family: "Poppins";
  font-weight: normal;
  text-align: center;
}

.text-title-principal {
  font-family: "Poppins";
  font-size: 3em;
  font-weight: 600;
  text-align: center;
  color: rgb(211, 156, 179);
}

.texto-linha {
  width: 60%;
  font-family: "Poppins";
  text-align: justify;
  padding-right: 5%;
  transition: 0.5s all; /*SEMPRE COLOQUE TRANSIÇÕES PARA SUAVIDADE NO SITE!*/
}

.texto-principal {
  width: 100%;
  font-family: "Poppins";
  text-align: justify;
  transition: 0.5s all;
}

.td-imagem {
  width: 30%;
}

.imagem {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(116, 116, 116);
  margin-top: 20px;
}

tr td {
  vertical-align: middle;
}
.show-on-scroll.is-visible {
  opacity: 1;
  animation: bounceAndRotate 1s 1 linear alternate;
}
.show-on-scroll {
  opacity: 0;
  transition: transform 4s 0.25s cubic-bezier(0, 1, 0.3, 1),
    opacity 0.35s 0.3s ease-out;
  will-change: transform, opacity;
}
@keyframes bounceAndRotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(00deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@media only screen and (min-width: 0) and (max-width: 500px) {
  /*CONTROLA A FONTE CONFORME O TAMANHO DA TELA*/

  .texto-linha {
    font-size: 0.5em;
  }
  .texto-principal {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
  /*CONTROLA A FONTE CONFORME O TAMANHO DA TELA*/

  .texto-linha {
    font-size: 0.7em;
  }
  .texto-principal {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  /*CONTROLA A FONTE CONFORME O TAMANHO DA TELA*/

  .texto-linha {
    font-size: 0.9em;
  }
  .texto-principal {
    font-size: 1.1em;
  }
}

@media only screen and (min-width: 1001px) {
  /*CONTROLA A FONTE CONFORME O TAMANHO DA TELA*/

  .texto-linha {
    font-size: 1.2em;
  }
  .texto-principal {
    font-size: 1.3em;
  }
}

#mouse {
  display: block;
  width: 22px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid rgb(105, 104, 104);
  position: fixed;
  bottom: 20px;
  margin-left: 18px;
  z-index: 999;
}

#mouse::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  position: relative;
  border-radius: 4px;
  background: rgb(105, 104, 104);
  animation-name: mouse;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  z-index: 999;
}
.wrapper-sb {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-text {
  max-width: 60%;
  font-family: "Poppins";
  text-align: center;
  margin-top: 5rem;
  min-width: 55%;
  margin-bottom: 100px;
}
video {
  min-height: 100%;
  min-width: 100vw;
  border: 0;
}
.slogan {
  position: absolute;
  z-index: 2;
  left: 0;
  color: #efefef;
  scroll-behavior: smooth;
  width: 280px;
  font-size: 3em;
  margin-left: 1em;
  font-family: "Poppins";
}
.wrapper-over {
  z-index: 4;
  background-color: #fff;
  scroll-behavior: smooth;
  position: sticky;
}
#wrapper-rest {
  height: fit-content !important;
  display: inline-flex !important;
  flex-wrap: wrap;
}
.container {
  display: -webkit-box;
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 100vh;
}

.box {
  -webkit-box-flex: 1;
  flex: 1;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
  line-height: 0;
  border-radius: 16px;
}

.box > img {
  width: 200%;
  height: calc(100% - 10vh);
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 10vh;
  line-height: 2.6;
  font-family: "Poppins";
}

.box:hover {
  -webkit-box-flex: 1;
  flex: 1 1 50%;
}

.box:hover > img {
  width: 100%;
  height: 100%;
}
.wrapper-sb.newsroom {
  background-color: #f9f9f9;
  position: sticky;
  z-index: 4;
  display: inline-flex;
  flex-wrap: wrap;
  height: fit-content !important;
}
.newsroom-title {
  width: 100%;
  text-indent: 2em;
  font-family: "Poppins";
  margin-bottom: 0;
  margin-top: 50px;
  font-weight: 600;
}
.iphone {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999,
    0 0 30px 0px rgba(0, 0, 0, 0.7);
  border: 5px solid #d9dbdc;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 50px;
  height: 877px;
  width: 423px;
  position: relative;
  margin: 30px auto;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.iphone-top {
  padding: 5px 110px 40px;
  position: relative;
}
.iphone-top .speaker {
  display: block;
  width: 70px;
  height: 6px;
  margin: 0 auto;
  border-radius: 6px;
  background: #292728;
}
.iphone-top .camera {
  display: block;
  margin: 0 auto;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-bottom: 13px;
  background: #333;
}
.iphone-top .sensor {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  background: #333;
  margin-top: -5px;
  border-radius: 50%;
}

.top-bar,
.bottom-bar {
  display: block;
  width: 423px;
  height: 15px;
  border-left: 5px solid #bbb;
  border-right: 5px solid #bbb;
  position: absolute;
  left: -5px;
}

.top-bar {
  top: 65px;
}

.bottom-bar {
  bottom: 65px;
}

.iphone-screen {
  background: #eee;
  border: 1px solid #fff;
  height: 677px;
  width: 375px;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  overflow: hidden;
  background-image: url("https://assets.codepen.io/285131/paintbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.iphone-screen img {
  width: 100%;
}

.buttons .on-off,
.buttons .up,
.buttons .down,
.buttons .sleep {
  display: block;
  background: #ccc;
  position: absolute;
  border-radius: 2px 0px 0px 2px;
}
.buttons .on-off {
  height: 40px;
  width: 3px;
  top: 100px;
  left: -8px;
}
.buttons .up,
.buttons .down,
.buttons .sleep {
  height: 60px;
  width: 5px;
  left: -10px;
}
.buttons .up {
  top: 170px;
}
.buttons .down {
  top: 250px;
}
.buttons .sleep {
  left: auto;
  right: -10px;
  top: 170px;
  border-radius: 0px 2px 2px 0px;
}

.iphone-bottom {
  padding: 10px 0 0;
}
.iphone-bottom span {
  display: block;
  margin: 0 auto;
  width: 68px;
  height: 68px;
  background: #ccc;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #303233 0%,
    #b5b7b9 50%,
    #f0f2f2 69%,
    #303233 100%
  );
  position: relative;
}
.iphone-bottom span:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
}
* {
  box-sizing: border-box;
}
.colunm {
  width: 50vw;
  min-width: 400px;
  overflow-x: hidden;
  padding-bottom: 100px;
}
.bottom-wrapper-sb {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100vw;
}
.iphone-2 {
  margin-top: -710px;
  margin-left: 150px;
}
.iphone-1 {
  margin-left: 20px !important;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  font-size: 0.8em;
  color: grey;
  line-height: 1.4;
  font-family: "Poppins";
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  grid-gap: 1em;
  -webkit-overflow-scrolling: touch;
  padding: 2em 1em;
  background: white;
}
@media all and (min-width: 600px) {
  .grid {
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 23em));
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.grid__figure {
  display: grid;
  grid-template-rows: 16em 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1.2em;
}
.grid__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
}
@media only screen and (max-width: 700px) {
  .colunm {
    width: 100%;
  }
}

.action-taker-p {
  border-bottom-color: #677b8c;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid #3a3a3a;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #232323;
  text-transform: uppercase;
  font-family: "Poppins";
  width: fit-content;
  margin-bottom: 0 !important;
}

.grid-inline {
  display: inline-flex;
  flex-wrap: nowrap;
  margin-top: 155px;
}
.grid-inline li {
  margin-right: 40px;
}

@media only screen and (min-width: 1565px) {
  .grid-inline {
    display: none;
  }
  .divi {
    display: block !important;
  }
  .iphone-1 {
    margin-left: 200px !important;
  }
  .iphone-2 {
    margin-left: 350px !important;
  }
}
.divi {
  display: none;
}
.stories-title {
  margin-left: 2em;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 2em;
}
.double-container {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  height: 100%;
}
.col {
  width: 50%;
  flex: 50%;
  height: 100%;
}
.col img {
  width: 100%;
  min-height: 100%;
}
.col:nth-child(1) {
  overflow: hidden;
}
.pink-col {
  background-color: #ffdcd5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper-sb.local {
  position: sticky;
  z-index: 4;
}
.sub-title-sb {
  font-family: "Poppins";
  font-weight: 800 !important;
  font-size: 19px;
  line-height: 27px;
  letter-spacing: 3.6px !important;
  text-transform: uppercase;
  color: #e7907e;
}
.local-title {
  color: rgb(243, 132, 151);
  font-family: "Poppins";
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 1.8px !important;
  font-weight: 600;
  margin-top: 10px;
}
.local-description {
  color: #e7907e;
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36px !important;
  font-family: "Poppins";
}
.inner-pink-col {
  padding-left: 65px;
  padding-left: 65px;
  width: calc(100% - 130px);
}
.wrapper-sb.our-values {
  position: sticky;
  z-index: 4;
  height: fit-content !important;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.masonry-gallery {
  width: 70%;
  margin: auto;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
.masonry-gallery img {
  display: block;
  width: 100%;
  height: 80%;
  max-width: 100%;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.masonry-gallery figure figcaption {
  height: 20%;
  background-color: #d8dcd6;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  margin-top: -20px;
}
.masonry-gallery figure {
  margin: 16px;
}
.cell-1 {
  grid-column: 1 / 6;
  grid-row: 1 / 4;
}
.cell-2 {
  grid-column: 6 / 9;
  grid-row: 1 / 9;
}
.cell-3 {
  grid-column: 1 / 4;
  grid-row: 4 / 6;
}
.cell-4 {
  grid-column: 4 / 6;
  grid-row: 4 / 6;
}
.cell-3 img{
  height: 240px !important;
}
.cell-4 img{
  height: 200px !important;
}
.cell-4 figcaption{
  height: calc(45% + 10px) !important;
}
.cell-3 figcaption{
  height: 45% !important;
}
.our-values-double-wrapper {
  width: fit-content;
  display: inline-flex;
  flex-wrap: nowrap;
}
.uk-card-title {
  font-family: "Poppins";
  font-weight: 400 !important;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 1.1px !important;
  text-decoration: none !important;
  padding-top: 10px;
  padding-left: 20px;
}
.uk-card-title a{
  text-decoration: none !important;
  color: #232322;
}
.card-date{
  padding-bottom: 10px;
  padding-left: 20px;
  font-family: 'Poppins';
}

