@font-face {
  font-family: "Spare Parts";
  src: url("../fonts/Spare Parts.ttf");
}

@font-face {
  font-family: "Walkway";
  src: url("../fonts/Walkway SemiBold.ttf");
}

@font-face {
  font-family: "Gooseberry Juice";
  src: url("../fonts/Gooseberry Juice.otf");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins-light.otf");
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("/src/assets/fonts/calibri-7.ttf");
}

html,
body {
  overflow: hidden;
  font-family: "Poppins";
}
#canvas-o {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: animbg;
  animation-duration: 45s;
  animation-iteration-count: infinite;
  transition: 0.5s background-image ease-out;
}
@keyframes animbg {
  0% {
    background-image: url("../images/land-1.jpg");
  }
  10% {
    background-image: url("../images/land-2.jpg");
  }
  20% {
    background-image: url("../images/land-2.jpg");
  }
  30% {
    background-image: url("../images/land-2.jpg");
  }
  40% {
    background-image: url("../images/land-3.jpg");
  }
  50% {
    background-image: url("../images/land-2.jpg");
  }
  60% {
    background-image: url("../images/land-4.jpg");
  }
  70% {
    background-image: url("../images/land-2.jpg");
  }
  80% {
    background-image: url("../images/land-5.jpg");
  }
  90% {
    background-image: url("../images/land-2.jpg");
  }
  100% {
    background-image: url("../images/land-6.jpg");
  }
}
.canvas-wrap {
  position: absolute;
  pointer-events: none;
  background: linear-gradient(
    180deg,
    rgba(30, 30, 30, 0.6),
    rgba(30, 30, 30, 0.3),
    rgba(30, 30, 30, 0.05)
  );
  height: 100vh;
  width: 100%;
}
div.canvas-content {
  position: relative;
  z-index: 2000;
  color: #fff;
  text-align: center;
}

body {
  margin: 0;
}

#home-animation-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
  color: rgb(236, 99, 236);
}

#home-animation {
  width: 100%;
  max-height: 90%;
  height: auto;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s all;
}

.bubbles.svg-path {
  background-blend-mode: multiply;
}

text {
  font-family: "Spare Parts";
}

.link {
  opacity: 0.8;
}

.title {
  font-size: 45px;
  color: white;
  opacity: 0.4;
  transition: 0.8s all;
  margin: 0;
}

.info {
  color: rgba(255, 255, 255, 0.801);
  font-family: "Poppins";
  position: fixed;
  padding: 2%;
  border-radius: 10px;
  font-weight: bold !important;
  top: 15%;
  width: 96%;
  transition: all 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start,
.artista,
.usuario {
  transition: 0.8s font-size;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.801);
}

a {
  text-decoration: none !important;
}

.start:hover,
.artista:hover,
.usuario:hover {
  font-size: 90px;
  cursor: pointer;
}

.login {
  transition: 0.8s font-size;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.801);
  transform: translateY(-50px);
}

.login:hover {
  font-size: 50px;
  cursor: pointer;
}

.sobre {
  transition: 0.8s font-size;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.801);
  transform: translateY(-80px);
}

.sobre:hover {
  font-size: 30px;
  cursor: pointer;
}

.st0 {
  fill: #dceefb;
}
.st1 {
  fill: #adadad;
}

.svg-hand {
  max-width: 100px;
  width: 1.5%;
  position: fixed;
  transform: rotate(10deg);
}

.svg-hand:not(:root) {
  overflow: visible;
}

.svg1 {
  top: 40%;
  left: 37.5%;
}

.svg2 {
  top: 50%;
  left: 44%;
}

.tap-target {
  transition: 0.5s all;
}

.hand {
  transition: 0.5s all;
}

.hand-tapping {
  transition: 0.5s all;
}

#more-arrows {
  width: fit-content;
  height: 0;
  transform: rotate(180deg);
  top: 4%;
  margin: auto;
  opacity: 0;
  transition: 0.4s all;
}

#more-arrows svg {
  width: 80px;
  height: 80px;
}

#more-arrows svg:hover {
  cursor: pointer;
}

#more-arrows-click:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}

#more-arrows-click:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: #fff;
  transition: all 0.2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

#title-modal {
  font-family: "Poppins";
  font-size: 2.4em;
  font-weight: bold;
}

#text-modal {
  font-family: "Poppins";
  font-weight: bold;
  font-size: 0.9em;
  text-align: justify;
  text-indent: 1em;
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  #title-modal {
    font-size: 1.2em;
  }

  #text-modal {
    font-size: 0.62em;
  }
}

@media only screen and (min-width: 970px) and (max-width: 1199px) {
  #title-modal {
    font-size: 1.8em;
  }
  #text-modal {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  #title-modal {
    font-size: 2.1em;
  }

  #text-modal {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1650px) and (max-width: 2000px) {
  #title-modal {
    font-size: 2.6em;
  }

  #text-modal {
    font-size: 1.25em;
  }
}

@media only screen and (min-width: 2000px) {
  #title-modal {
    font-size: 3.2em;
  }

  #text-modal {
    font-size: 1.4em;
  }
}

.modal-sobre {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.644);
  z-index: 9999;
  top: 0;
  left: 0;
  margin: 0;
  display: none;
}

.modal-sobre-active {
  display: block;
}

.modal-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.modal-content {
  width: 50%;
  height: fit-content;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: rgb(221, 221, 221);
  border-radius: 18px;
  box-shadow: 0 0 15px black;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.5s;
  animation-name: zoom;
  animation-duration: 0.5s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#table-modal tr td {
  vertical-align: top;
  text-align: center;
}

#td1-modal {
  width: 100%;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateX(7px);
    -moz-transform: translateX(7px);
    transform: translateY(7px);
  }
  65% {
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  80% {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@media only screen and (min-width: 0) and (max-width: 900px) {
  .title {
    font-size: 25px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 60px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 70px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 30px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 20px;
    cursor: pointer;
  }

  .media {
    font-size: 2em;
  }

  .usuario {
    transform: translateX(40px);
    top: 39%;
  }
}

@media only screen and (min-height: 0) and (max-height: 300px) {
  #more-arrows-click {
    transform: translateY(40px);
  }
}

@media only screen and (min-height: 301px) and (max-height: 500px) {
  #more-arrows-click {
    transform: translateY(20px);
  }
}

@media only screen and (min-height: 501px) and (max-height: 700px) {
  #more-arrows-click {
    transform: translateY(10px);
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1100px) {
  .usuario {
    transform: translateX(50px);
    top: 40.5%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1250px) {
  .title {
    font-size: 35px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 70px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 80px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 40px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 20px;
    cursor: pointer;
  }

  .media {
    font-size: 3.2em;
  }
}

@media only screen and (min-width: 1351px) and (max-width: 1599px) {
  .title {
    font-size: 45px;
  }

  .start,
  .artista,
  .usuario {
    font-size: 80px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 90px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 50px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 30px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .title {
    font-size: 55px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 90px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 100px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 55px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 60px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 40px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1801px) and (max-width: 2200px) {
  .title {
    font-size: 65px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 100px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 110px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 65px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 70px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 50px;
    cursor: pointer;
  }
}

@media screen and (min-width: 2201px) and (max-width: 2600px) {
  .title {
    font-size: 75px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 110px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 120px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 75px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 80px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 55px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 60px;
    cursor: pointer;
  }
}

@media screen and (min-width: 2601px) {
  .title {
    font-size: 85px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 120px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 130px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 85px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 90px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 65px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 70px;
    cursor: pointer;
  }
}
.iphone {
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px #999,
    0 0 30px 0px rgba(0, 0, 0, 0.7);
  border: 5px solid #d9dbdc;
  background: #f8f8f8;
  padding: 15px;
  border-radius: 50px;
  height: 877px;
  width: 423px;
  position: relative;
  margin: 30px auto;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

.iphone-top {
  padding: 5px 110px 40px;
  position: relative;
}
.iphone-top .speaker {
  display: block;
  width: 70px;
  height: 6px;
  margin: 0 auto;
  border-radius: 6px;
  background: #292728;
}
.iphone-top .camera {
  display: block;
  margin: 0 auto;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin-bottom: 13px;
  background: #333;
}
.iphone-top .sensor {
  display: block;
  width: 15px;
  height: 15px;
  float: left;
  background: #333;
  margin-top: -5px;
  border-radius: 50%;
}

.top-bar,
.bottom-bar {
  display: block;
  width: 423px;
  height: 15px;
  border-left: 5px solid #bbb;
  border-right: 5px solid #bbb;
  position: absolute;
  left: -5px;
}

.top-bar {
  top: 65px;
}

.bottom-bar {
  bottom: 65px;
}

.iphone-screen {
  background: #eee;
  border: 1px solid #fff;
  height: 677px;
  width: 375px;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 0, 0.9);
  border-radius: 3px;
  overflow: hidden;
  background-image: url("https://assets.codepen.io/285131/paintbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.iphone-screen img {
  width: 100%;
}

.buttons .on-off,
.buttons .up,
.buttons .down,
.buttons .sleep {
  display: block;
  background: #ccc;
  position: absolute;
  border-radius: 2px 0px 0px 2px;
}
.buttons .on-off {
  height: 40px;
  width: 3px;
  top: 100px;
  left: -8px;
}
.buttons .up,
.buttons .down,
.buttons .sleep {
  height: 60px;
  width: 5px;
  left: -10px;
}
.buttons .up {
  top: 170px;
}
.buttons .down {
  top: 250px;
}
.buttons .sleep {
  left: auto;
  right: -10px;
  top: 170px;
  border-radius: 0px 2px 2px 0px;
}

.iphone-bottom {
  padding: 10px 0 0;
}
.iphone-bottom span {
  display: block;
  margin: 0 auto;
  width: 68px;
  height: 68px;
  background: #ccc;
  border-radius: 50%;
  background: linear-gradient(
    135deg,
    #303233 0%,
    #b5b7b9 50%,
    #f0f2f2 69%,
    #303233 100%
  );
  position: relative;
}
.iphone-bottom span:after {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  left: 4px;
  top: 4px;
}
* {
  box-sizing: border-box;
}
.colunm {
  width: 50vw;
  min-width: 400px;
  overflow-x: hidden;
  padding-bottom: 100px;
}
.bottom-wrapper-sb {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100vw;
}

.iphone-1 {
  margin-right: -300px !important;
  margin-top: -140px;
}
.iphone-2 {
  margin-top: 50px;
  margin-right: 0px;
  transform: scale(0.8);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  font-size: 0.8em;
  color: grey;
  line-height: 1.4;
  font-family: "Poppins";
}

.grid {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 90%;
  grid-gap: 1em;
  -webkit-overflow-scrolling: touch;
  padding: 2em 1em;
  background: white;
}
@media all and (min-width: 600px) {
  .grid {
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(auto, 23em));
    -webkit-box-pack: center;
    justify-content: center;
  }
}
.grid__figure {
  display: grid;
  grid-template-rows: 16em 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1.2em;
}
.grid__figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 16px;
}
@media only screen and (max-width: 700px) {
  .colunm {
    width: 100%;
  }
}

.action-taker-p {
  border-bottom-color: #677b8c;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid #3a3a3a;
  font-size: 1.125rem;
  font-weight: 400;
  letter-spacing: 0.06em;
  color: #232323;
  text-transform: uppercase;
  font-family: "Poppins";
  width: fit-content;
  margin-bottom: 0 !important;
}

.grid-inline {
  display: inline-flex;
  flex-wrap: nowrap;
  margin-top: 155px;
}
.grid-inline li {
  margin-right: 40px;
}
.phone-container {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  top: 0;
  position: relative;
  transform: scale(0.65);
  margin-right: 10vw;
}
.colunm-1 {
  position: relative;
  width: 50vw;
  height: 100%;
}
.colunm-2 {
  position: relative;
  width: 50vw;
  height: 100%;
}
.wrapper-main {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.landing-top-bar {
  width: 92vw;
  margin-left: 4vw;
  margin-right: 4vw;
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 8px 0;
}
.col {
  width: 50%;
  display: inline-flex;
  flex-wrap: nowrap;
  height: 100%;
  z-index: 3;
}
.col.right-to-left {
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}
#hidden-menu{
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: flex-end;
}
.landing-nav {
  position: relative;
  z-index: 3;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

li {
  float: left;
}

li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
  color: rgb(255, 210, 225);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 16px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content > a:hover {
  background-color: #cccccc;
  color: #232323;
}
.dropdown-content > a:hover:nth-child(1) {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.dropdown-content > a:last-child {
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.landing-logo {
  width: 60px;
  height: 60px;
  z-index: 3;
  position: relative;
  margin-right: 12px;
}
.arrow {
  margin-bottom: -5px;
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  position: relative;
  margin-left: 0.8rem;
}
.arrow span {
  top: 0.5rem;
  position: absolute;
  width: 0.75rem;
  height: 0.1rem;
  background-color: #efefef;
  display: inline-block;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.arrow span:first-of-type {
  left: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.arrow span:last-of-type {
  right: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
a:hover > .arrow span:first-of-type {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
a:hover > .arrow span:last-of-type {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.link-title {
  font-weight: bold;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.col.right-to-left > a {
  z-index: 3;
  color: #fff;
  padding: 7px 16px;
  margin: 7px 8px;
  cursor: pointer;
}
.login-top-btn {
  border: 1.5px solid #efefefb0;
  border-radius: 10px;
}
.login-top-btn:hover {
  border: 1.5px solid #efefef;
  border-radius: 10px;
  transform: scale(1.02);
}
.signup-top-btn {
  border: 1.5px solid #efefefb0;
  border-radius: 10px;
}
.signup-top-btn:hover {
  border: 1.5px solid #efefef;
  border-radius: 10px;
  transform: scale(1.02);
}

.marvel-device {
  display: inline-block;
  position: relative;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
.marvel-device .screen {
  width: 100%;
  position: relative;
  height: 100%;
  z-index: 3;
  background: white;
  overflow: hidden;
  display: block;
  border-radius: 1px;
  -webkit-box-shadow: 0 0 0 3px #111;
  box-shadow: 0 0 0 3px #111;
}
.marvel-device .top-bar,
.marvel-device .bottom-bar {
  height: 3px;
  background: black;
  width: 100%;
  display: block;
}
.marvel-device .middle-bar {
  width: 3px;
  height: 4px;
  top: 0px;
  left: 90px;
  background: black;
  position: absolute;
}

.marvel-device.iphone-x {
  width: 375px;
  height: 810px;
  padding: 26px;
  background: #fdfdfd;
  -webkit-box-shadow: inset 0 0 11px 0 black;
  box-shadow: inset 0 0 11px 0 black;
  border-radius: 66px;
}
.marvel-device.iphone-x .overflow {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 66px;
  overflow: hidden;
}
.marvel-device.iphone-x .shadow {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  position: absolute;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(255, 255, 255, 0) 60%
  );
}
.marvel-device.iphone-x .shadow--tl {
  top: -20px;
  left: -20px;
}
.marvel-device.iphone-x .shadow--tr {
  top: -20px;
  right: -20px;
}
.marvel-device.iphone-x .shadow--bl {
  bottom: -20px;
  left: -20px;
}
.marvel-device.iphone-x .shadow--br {
  bottom: -20px;
  right: -20px;
}
.marvel-device.iphone-x:before {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  position: absolute;
  top: 5px;
  content: "";
  left: 5px;
  border-radius: 61px;
  background: black;
  z-index: 1;
}
.marvel-device.iphone-x .inner-shadow {
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  position: absolute;
  top: 10px;
  overflow: hidden;
  left: 10px;
  border-radius: 56px;
  -webkit-box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 0 15px 0 rgba(255, 255, 255, 0.66);
  z-index: 1;
}
.marvel-device.iphone-x .inner-shadow:before {
  -webkit-box-shadow: inset 0 0 20px 0 #ffffff;
  box-shadow: inset 0 0 20px 0 #ffffff;
  width: 100%;
  height: 116%;
  position: absolute;
  top: -8%;
  content: "";
  left: 0;
  border-radius: 200px / 112px;
  z-index: 2;
}
.marvel-device.iphone-x .screen {
  border-radius: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.marvel-device.iphone-x .top-bar,
.marvel-device.iphone-x .bottom-bar {
  width: 100%;
  position: absolute;
  height: 8px;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
}
.marvel-device.iphone-x .top-bar {
  top: 80px;
}
.marvel-device.iphone-x .bottom-bar {
  bottom: 80px;
}
.marvel-device.iphone-x .volume,
.marvel-device.iphone-x .volume:before,
.marvel-device.iphone-x .volume:after,
.marvel-device.iphone-x .sleep {
  width: 3px;
  background: #b5b5b5;
  position: absolute;
}
.marvel-device.iphone-x .volume {
  left: -3px;
  top: 116px;
  height: 32px;
}
.marvel-device.iphone-x .volume:before {
  height: 62px;
  top: 62px;
  content: "";
  left: 0;
}
.marvel-device.iphone-x .volume:after {
  height: 62px;
  top: 140px;
  content: "";
  left: 0;
}
.marvel-device.iphone-x .sleep {
  height: 96px;
  top: 200px;
  right: -3px;
}
.marvel-device.iphone-x .camera {
  width: 6px;
  height: 6px;
  top: 9px;
  border-radius: 100%;
  position: absolute;
  left: 154px;
  background: #0d4d71;
}
.marvel-device.iphone-x .speaker {
  height: 6px;
  width: 60px;
  left: 50%;
  position: absolute;
  top: 9px;
  margin-left: -30px;
  background: #171818;
  border-radius: 6px;
}
.marvel-device.iphone-x .notch {
  position: absolute;
  width: 210px;
  height: 30px;
  top: 26px;
  left: 108px;
  z-index: 4;
  background: black;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.marvel-device.iphone-x .notch:before,
.marvel-device.iphone-x .notch:after {
  content: "";
  height: 8px;
  position: absolute;
  top: 0;
  width: 8px;
}
.marvel-device.iphone-x .notch:after {
  background: radial-gradient(
    circle at bottom left,
    transparent 0,
    transparent 70%,
    black 70%,
    black 100%
  );
  left: -8px;
}
.marvel-device.iphone-x .notch:before {
  background: radial-gradient(
    circle at bottom right,
    transparent 0,
    transparent 70%,
    black 70%,
    black 100%
  );
  right: -8px;
}
.marvel-device.iphone-x.landscape {
  height: 375px;
  width: 812px;
}
.marvel-device.iphone-x.landscape .top-bar,
.marvel-device.iphone-x.landscape .bottom-bar {
  width: 8px;
  height: 100%;
  top: 0;
}
.marvel-device.iphone-x.landscape .top-bar {
  left: 80px;
}
.marvel-device.iphone-x.landscape .bottom-bar {
  right: 80px;
  bottom: auto;
  left: auto;
}
.marvel-device.iphone-x.landscape .volume,
.marvel-device.iphone-x.landscape .volume:before,
.marvel-device.iphone-x.landscape .volume:after,
.marvel-device.iphone-x.landscape .sleep {
  height: 3px;
}
.marvel-device.iphone-x.landscape .inner-shadow:before {
  height: 100%;
  width: 116%;
  left: -8%;
  top: 0;
  border-radius: 112px / 200px;
}
.marvel-device.iphone-x.landscape .volume {
  bottom: -3px;
  top: auto;
  left: 116px;
  width: 32px;
}
.marvel-device.iphone-x.landscape .volume:before {
  width: 62px;
  left: 62px;
  top: 0;
}
.marvel-device.iphone-x.landscape .volume:after {
  width: 62px;
  left: 140px;
  top: 0;
}
.marvel-device.iphone-x.landscape .sleep {
  width: 96px;
  left: 200px;
  top: -3px;
  right: auto;
}
.marvel-device.iphone-x.landscape .camera {
  left: 9px;
  bottom: 154px;
  top: auto;
}
.marvel-device.iphone-x.landscape .speaker {
  width: 6px;
  height: 60px;
  left: 9px;
  top: 50%;
  margin-top: -30px;
  margin-left: 0;
}
.marvel-device.iphone-x.landscape .notch {
  height: 210px;
  width: 30px;
  left: 26px;
  bottom: 108px;
  top: auto;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 0;
}
.marvel-device.iphone-x.landscape .notch:before,
.marvel-device.iphone-x.landscape .notch:after {
  left: 0;
}
.marvel-device.iphone-x.landscape .notch:after {
  background: radial-gradient(
    circle at bottom right,
    transparent 0,
    transparent 70%,
    black 70%,
    black 100%
  );
  bottom: -8px;
  top: auto;
}
.marvel-device.iphone-x.landscape .notch:before {
  background: radial-gradient(
    circle at top right,
    transparent 0,
    transparent 70%,
    black 70%,
    black 100%
  );
  top: -8px;
}
.signup-or-signin-form {
  border-radius: 16px;
  height: fit-content;
  width: 360px;
  margin-top: 60px;
  margin-left: 8vw;
  background-color: #efefef;
}
.inner-signup-or-signin-form {
  padding: 32px 16px;
}
.button2 a {
  transition: all 0.6s ease;
  overflow: hidden;
  font-size: 18px;
  font-weight: 800;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #222;
  border-radius: 10px;
  cursor: pointer;
}
.button2 a::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -50px;
  left: -60px;
  width: 90px;
  height: 90px;
  z-index: -1;
  transition: all 0.3s ease;
  transform: rotate(-45deg);
}
.button2 a:hover::after {
  box-shadow: 40px -20px 0px #024768, 41px -20px 8px rgba(0, 0, 0, 0.3), 80px 20px 0px #04B0BC, 81px 20px 8px rgba(0, 0, 0, 0.3), 120px 60px 0px #22CBCB, 121px 60px 8px rgba(0, 0, 0, 0.3), 160px 100px 0px #94DFDD, 161px 100px 8px rgba(0, 0, 0, 0.3), 200px 120px 0px #97D3D3;
}
.button2 a:hover {
  color: white;
  box-shadow: 4px 20px 10px rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 900px) {
  .register-link{
    margin-right: 0 !important;
    margin-left: 163px !important;
  }
  .colunm-2 {
    width: 100% !important;
    margin-bottom: -10vh;
    height: 70vh;
  }
  .colunm-1 {
    width: 100% !important;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .phone-container {
    margin: 0 !important;
  }
  .signup-or-signin-form {
    position: absolute;
    left: calc(50vw - 180px);
    bottom: 30px;
    margin: 0 !important;
  }
  .wrapper-main {
    flex-flow: wrap-reverse;
  }
  body {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
  }
  html {
    overflow-y: hidden;
  }
  .wrapper-main {
    height: 180vh;
    overflow: visible;
  }
}

@media only screen and (max-height: 500px) {
  .colunm-1 {
    margin-bottom: -100vh !important;
  }
  .colunm-2 {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1290px) {
  .col.right-to-left {
    width: 35% !important;
  }
  .col {
    width: 65%;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1290px) {
}

.check-list {
  margin: 0;
  padding-left: 1.2rem;
}

.check-list li {
  position: relative;
  list-style-type: none;
  padding-left: 2rem;
  margin-bottom: 0.5rem;
}

.check-list li:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 5px;
    height: 11px;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #00a8a8;
    transform-origin: bottom left;
    transform: rotate(45deg);
}
.screen img{
  height: 100%;
}
.register-link{
  padding: 10px 20px;
  margin: 10px 35px;
  border: 1px solid #232323;
  border-radius: 12px;
  margin-left: 163px;
}
.bottom-link{
  margin-top: 12px;
  height: 50px;
}
.bottom-link + p{
  margin: 0;
}
@media only screen and (max-width: 980px){
  .col{
    width: 100%;
  }
  .col.right-to-left{
    display: none;
  }
}
@media only screen and (max-width: 636px){
  .landing-nav{
    display: none;
  }
  #hidden-menu{
    display: block !important;
  }
}
@media only screen and (min-width: 637px){
  .menu-ld.visible{
    width: 0 !important;
  }
  .menu-ld{
    width: 0 !important;
  }
  .menu-ld.visible + .ui-hide{
    width: 0 !important;
  }
}
.menu-ld{
  background-color: #efefef;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  display: block;
  z-index: 6;
  transition: all 0.6s ease-out;
}
.menu-ld.visible{
  width: 300px;
}
.ui-hide{
  width: 0;
  transition: all 0.6s ease-out;
  position: absolute;
  top: 0;
  z-index: 5;
}
.menu-ld.visible + .ui-hide{
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(30, 30, 30, 0.8),
    rgba(30, 30, 30, 0.6),
    rgba(30, 30, 30, 0.7)
  );
  
}
#hidden-menu{
  height: 60px;
  width: 60px;
  display: none;
}
#hidden-menu img{
  height: 60px;
  width: 60px;
}
.bottom-menu{
  height: 50%;
  border-top: 1px solid rgba(201, 200, 200, 0.9);
}
.bottom-down-menu{
  width: 100%;
  height: 15%;
}
.bottom-top-menu{
  width: 100%;
  height: 85%;
}
.top-menu{
  width: 100%;
  height: 50%;
}