@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Bruzh";
  src: url("../fonts/Bruzh.ttf");
}
@font-face {
  font-family: "Bebas";
  src: url("../fonts/BebasNeue.ttf");
}
@font-face {
  font-family: "Calibre-Bold";
  src: url("../fonts/calibri-bold-2.ttf");
  src: url("../fonts/CalibreWeb-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/CalibreWeb-Bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Calibre-Regular";
  src: url("../fonts/calibri-7.ttf");
  src: url("../fonts/CalibreWeb-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/fonts/CalibreWeb-Regular.woff") format("woff");
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(143, 142, 142);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(92, 91, 91);
}

.menu-container {
  background: linear-gradient(
    136deg,
    #fc6c85,
    #fc6c6d,
    #fc836c,
    #fc9b6c,
    #fc6c9d,
    #fc6cb5,
    #fc6ccd
  );
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
}

.gradient {
  position: fixed;
  width: 100%;
  height: 100%;
}

.svg-detalhes-content{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5000;
}

#detalhes-artes-back{
  cx: 240;
  cy: 85;
  r: 40;
  fill: #ffffff;
  stroke-width: 0;
  fill-opacity: 0.4;
}

#detalhes-artes{
  cx: 180;
  cy: 150;
  r: 60;
  fill: rgb(255, 255, 255);
  stroke-width: 0;
}

#detalhes-artes-front{
  cx: 215;
  cy: 115;
  r: 5;
  fill: #fc9b6c;
  stroke-width: 0;
}

#menu-bar {
  z-index: 1500;
  width: 100%;
  margin-top: 0%;
  padding-top: 5px;
  position: fixed;
  height: 60px !important;
  top: 0px;
  left: 0;
  right: 0;
  border-bottom-color: rgba(0, 0, 0, 0.1);
  padding-bottom: 2px !important;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 0px 0px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s background, color;
}

#logo {
  text-align: center;
  position: absolute;
  left: 38.5%;
  top: 3px;
  width: 280px;
  font-family: "Bruzh";
  letter-spacing: 0.5em;
}

#logo a {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  color: #1a1a1a;
  font-size: 2.5em;
  padding: 0 20px;
}

.hover-line {
  color: black;
  font-size: 1.5em;
  white-space: pre;
  text-decoration: none;
}

.svg-contact {
  margin-bottom: -39%;
}

#titulo {
  margin-left: -10%;
}

.div-text {
  font-family: "Calibre-Regular";
  font-size: 16px;
}

#div-1 {
  width: 18%;
  margin-left: 12%;
  margin-top: 5%;
}

#div-2 {
  width: 18%;
  margin-left: 12%;
  margin-top: 3%;
}

#div-3 {
  width: 18%;
  margin-left: 12%;
  margin-top: 3%;
}

#div-4 {
  width: 18%;
  margin-left: 36%;
  margin-top: -31%;
}

#div-5 {
  width: 18%;
  margin-left: 36%;
  margin-top: 3%;
}

#div-6 {
  width: 18%;
  margin-left: 57%;
  margin-top: -3.5%;
}

#div-7 {
  width: 18%;
  margin-left: 57%;
  margin-top: 3%;
}

#search-ico {
  background-image: url("../images/search-ico.png");
  height: 60px;
  float: right;
  position: absolute;
  width: 150px;
  background-size: 30%;
  top: 10px;
  right: -1.5%;
  background-repeat: no-repeat;
  will-change: transform;
  transition: 0.3s;
}

#left {
  visibility: hidden;
}

#right {
  visibility: hidden;
}

#search-ico:hover {
  transform: rotate(-9deg);
  cursor: pointer;
}

#nav-bars {
  background-image: url("../images/bars-ico.png");
  height: 60px;
  text-align: center;
  float: left;
  position: absolute;
  width: 150px;
  background-size: 30%;
  left: 2%;
  top: 10px;
  background-repeat: no-repeat;
  will-change: transform;
  transition: 0.3s;
}

#nav-bars:hover {
  transform: translateX(20px);
  cursor: pointer;
}

.moving-up {
  will-change: transform;
  transition: 0.3s;
  width: 10%;
}

.moving-left {
  will-change: transform;
  transition: 0.3s;
}

.moving-up:hover {
  margin-right: 30px;
}

.moving-left:hover {
  margin-left: 20px;
}

#menu {
  display: none;
  width: 40%;
  transition: 0.3s all;
}

#container-menu {
  transition: 0.4s all ease;
}

#menu-items {
  z-index: 1600;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  display: none;
  margin: 0;
  padding: 0;
  max-width: 1600px;
  max-height: 900px;
}

#menu-list {
  transition: 0.4s all;
}

.ico {
  margin-top: 7%;
  width: 60%;
  position: absolute;
}

.ico:hover {
  cursor: pointer;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#buy {
  margin-left: 2%;
}

.menu-item {
  position: relative;
  width: 80%;
  margin-left: 2%;
}

.menu-link {
  white-space: pre;
  text-align: center;
  font-weight: bolder;
  position: absolute;
  margin-left: 6%;
  width: 50%;
  color: black;
  text-decoration: none;
  will-change: transform;
  transition: 0.3s;
  font-family: "Bebas", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "メイリオ", "Meiryo", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.2em;
}

.menu-link:hover {
  cursor: pointer;
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.menu-item-1 {
  position: absolute;
  margin-top: 39%;
  width: 80%;
  margin-left: 2%;
}

#col-menu-1 {
  position: absolute;
  margin-left: 10%;
  width: 27%;
  top: 0;
}

#col-menu-2 {
  position: absolute;
  margin-left: 41%;
  width: 27%;
  top: 0;
}

#col-menu-3 {
  position: absolute;
  margin-left: 73%;
  width: 27%;
  top: 0;
}

.close {
  position: absolute;
  z-index: 999;
  transition: 0.3s;
  will-change: transform;
}

.close:hover {
  cursor: pointer;
  transform: translateX(20px);
}

.close-2 {
  position: absolute;
  z-index: 999;
  transition: 0.3s;
  will-change: transform;
  margin-top: 5%;
}

.close-2:hover {
  cursor: pointer;
  transform: translateY(20px);
}

#container-contatos {
  margin: auto;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  padding-left: 8%;
  position: fixed;
  top: -8%;
}

.table-contato {
  display: none;
  position: fixed;
  margin: 0;
  z-index: 1700;
  width: 100%;
  height: 100%;
  margin-top: -4%;
}

#contato-1 {
  cx: 100;
  cy: 150;
  r: 90;
  fill: white;
  stroke-width: 0;
}

#contato-2 {
  cx: 210;
  cy: 100;
  r: 60;
  fill: white;
  stroke-width: 0;
}

#contato-3 {
  cx: 315;
  cy: 160;
  r: 75;
  fill: white;
  stroke-width: 0;
}

#titulo {
  font-family: "Bebas";
  text-align: center;
  font-size: 28px;
  margin-top: -10px;
}

.subtitulo {
  font-family: "Bebas";
  font-size: 18px;
  color: #686868;
}

.texto {
  font-family: "Open Sans", "PT Sans", sans-serif;
  color: #929292;
}

#footer {
  transition: 0.3s background, color;
  position: relative;
  bottom: 0;
  padding: 15px;
  height: 120px;
  width: 102%;
  background-color: white;
  z-index: 999;
  overflow: hidden;
  margin-top: -102px;
  border-top: 1px solid #bebebe8e;
  font-family: "Bruzh";
  letter-spacing: 0.15em;
  font-size: 1.2em;
  -webkit-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -moz-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -o-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
}

#copyright {
  font-family: "Bruzh";
  letter-spacing: 0.15em;
  font-size: 1.2em;
  padding: 20px 0 30px;
  text-align: center;
  letter-spacing: 0.05em;
}

#footer-name {
  background-color: white;
  text-align: center;
  width: 100%;
  top: 3px;
  font-family: "Bruzh";
  letter-spacing: 0.5em;
}

#lower-footer {
  width: 100%;
  text-align: center;
}

.span-bar {
  margin-left: 21px;
  margin-right: 21px;
}

#line-containers {
  padding: 0;
  margin: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.footer-link {
  font-family: "Bebas";
}

.footer-link:hover {
  cursor: pointer;
  font-weight: bolder;
}

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    transform: translateX(5px);
  }
  30% {
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    transform: translateY(-5px);
  }
  50% {
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    transform: translateY(3px);
  }
  65% {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  80% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
/* Responsividade da fonte dos contatos */

@media only screen and (min-width: 920px) and (max-width: 1000px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(-1.5em);
    font-family: "Calibre-Regular";
    font-size: 5px;
  }

  #container-contatos {
    transform: translateY(1.5em);
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1080px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(-1.5em);
    font-family: "Calibre-Regular";
    font-size: 7px;
  }

  #container-contatos {
    transform: translateY(1.5em);
  }
}

@media only screen and (min-width: 1081px) and (max-width: 1140px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(-1.5em);
    font-family: "Calibre-Regular";
    font-size: 9px;
  }
  #container-contatos {
    transform: translateY(1.5em);
  }
}

@media only screen and (min-width: 1141px) and (max-width: 1220px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(-1.5em);
    font-family: "Calibre-Regular";
    font-size: 11px;
  }
  #container-contatos {
    transform: translateY(1.5em);
  }
}

@media only screen and (min-width: 1221px) and (max-width: 1300px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(-1.5em);
    font-family: "Calibre-Regular";
    font-size: 13px;
  }
}

@media only screen and (min-width: 1301px) and (max-width: 1420px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(-1.5em);
    font-family: "Calibre-Regular";
    font-size: 15px;
  }
}

@media only screen and (min-width: 1421px) and (max-width: 1500px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(-1.5em);
    font-family: "Calibre-Regular";
    font-size: 16px;
  }
}

@media only screen and (min-width: 1501px) and (max-width: 1580px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    font-family: "Calibre-Regular";
    font-size: 16px;
  }
}

@media only screen and (min-width: 1581px) and (max-width: 1700px) {
  #titulo {
    margin-left: -10%;
  }
  .div-text {
    transform: translateY(1.5em);
    font-family: "Calibre-Regular";
    font-size: 17px;
  }
}

@media only screen and (min-width: 1701px) and (max-width: 1800px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(1.5em);
    font-family: "Calibre-Regular";
    font-size: 18px;
  }
}

@media only screen and (min-width: 1801px) and (max-width: 1900px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(1.8em);
    font-family: "Calibre-Regular";
    font-size: 19px;
  }
}

@media only screen and (min-width: 1901px) and (max-width: 2000px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(1.8em);
    font-family: "Calibre-Regular";
    font-size: 20px;
  }
}

@media only screen and (min-width: 2001px) and (max-width: 2100px) {
  #titulo {
    margin-left: -10%;
  }

  .div-text {
    transform: translateY(1.8em);
    font-family: "Calibre-Regular";
    font-size: 21px;
  }
}

/* Responsividade do footer*/

@media only screen and (max-width: 560px) {
  #footer #copyright #footer-name {
    letter-spacing: 0.1em;
    font-size: 1.1em;
  }
}

/*Responsividade da largura da tela no menu items*/

@media only screen and (min-width: 0) and (max-width: 1000px) {
  #menu-items {
    font-size: 70%;
  }
  .close-img {
    width: 30px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .close-2-img {
    width: 30px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .menu-item {
    margin-top: 60% !important;
  }
  #menu-list {
    transform: translateY(-80em) !important;
    font-size: 12px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1033px) {
  #menu-items {
    font-size: 100% !important;
  }
  .close-img {
    width: 40px !important;
    padding-left: 15px !important;
    padding-top: 15px !important;
  }
  .close-2-img {
    width: 40px !important;
    padding-left: 15px !important;
    padding-top: 15px !important;
  }

  #menu-list {
    font-size: 12px !important;
    transform: translateY(-80em) !important;
  }
}

@media only screen and (min-width: 1034px) and (max-width: 1200px) {
  #menu-items {
    font-size: 100%;
  }
  .close-img {
    width: 40px;
    padding-left: 15px;
    padding-top: 15px;
  }
  .close-2-img {
    width: 40px;
    padding-left: 15px;
    padding-top: 15px;
  }

  #menu-list {
    font-size: 12px;
    transform: translateY(-35em) !important;
  }
}

@media only screen and (min-width: 1201px) and (max-width: 1599px) {
  #menu-items {
    font-size: 130%;
  }
  .close-img {
    width: 10%;
    padding-left: 7%;
    padding-top: 7%;
  }
  .close-2-img {
    width: 10%;
    padding-left: 7%;
    padding-top: 7%;
  }

  #menu-list {
    transform: translateY(-23em);
    background-color: #686868;
  }
  #search-ico {
    right: -5%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  #menu-items {
    font-size: 130%;
  }
  .close-img {
    width: 10%;
    padding-left: 7%;
    padding-top: 7%;
  }
  .close-2-img {
    width: 10%;
    padding-left: 7%;
    padding-top: 7%;
  }

  #menu-list {
    transform: translateY(-26em);
    background-color: #686868;
  }
}

@media screen and (min-width: 1801px) and (max-width: 2100px) {
  #menu-items {
    font-size: 170%;
  }
  .close-img {
    width: 15%;
    padding-left: 8%;
    padding-top: 8%;
  }
  .close-2-img {
    width: 15%;
    padding-left: 8%;
    padding-top: 8%;
  }
  .menu-link {
    margin-left: 21%;
  }
  #menu-list {
    margin-top: 10%;
    margin-left: 18%;
    background-color: #686868;
  }
  .ico {
    position: absolute;
    margin-top: 9%;
    width: 90%;
  }
}

@media screen and (min-width: 2101px) {
  #menu-items {
    font-size: 170%;
  }
  .close-img {
    width: 15%;
    padding-left: 8%;
    padding-top: 8%;
  }
  .close-2-img {
    width: 15%;
    padding-left: 8%;
    padding-top: 8%;
  }
  .menu-link {
    margin-left: 23%;
  }
  .ico {
    margin-top: 20%;
    width: 100%;
    padding-right: 50px;
  }
  #menu-list {
    margin-top: 10%;
    margin-left: 40%;
    background-color: #686868;
  }
}

/*Responsividade da altura da tela no menu items*/

@media screen and (min-height: 0) and (max-height: 680px) {
  .menu-item {
    margin-top: 60% !important;
  }
  #menu-list {
    transform: translateY(-28em);
    background-color: #686868;
  }
}

@media screen and (min-height: 681px) and (max-height: 800px) {
  .menu-item {
    margin-top: 55% !important;
  }
  #menu-list {
    transform: translateY(-26em);
    background-color: #686868;
  }
}

@media screen and (min-height: 801px) and (max-height: 900px) {
  .menu-item {
    margin-top: 70% !important;
  }
  #menu-list {
    transform: translateY(-26em);
    background-color: #686868;
  }
}

@media screen and (min-height: 901px) and (max-height: 1000px) {
  .menu-item {
    margin-top: 90% !important;
  }
  #menu-list {
    transform: translateY(-26em);
    background-color: #686868;
  }
}

@media screen and (min-height: 1001px) and (max-height: 1100px) {
  .menu-item {
    margin-top: 110% !important;
  }
  #menu-list {
    transform: translateY(-26em);
    background-color: #686868;
  }
}

@media screen and (min-height: 1101px) and (max-height: 1350px) {
  .menu-item {
    margin-top: 120% !important;
  }
  #menu-list {
    transform: translateY(-22em);
    background-color: #686868;
  }
}

@media screen and (min-height: 1351px) {
  .menu-item {
    margin-top: 150% !important;
  }
  #menu-list {
    transform: translateY(-22em);
    background-color: #686868;
  }
}
/*Respondividade da bar*/

@media only screen and (min-width: 300px) and (max-width: 461px) {
  #logo {
    left: 10.5%;
    width: 280px;
    letter-spacing: 0.2em;
  }

  #search-ico {
    height: 30px;
    position: absolute;
    width: 50px;
    background-size: 40%;
    right: -25px;
    top: 20px;
  }

  #nav-bars {
    height: 30px;
    text-align: center;
    float: left;
    position: absolute;
    width: 50px;
    background-size: 40%;
    left: 2%;
    top: 20px;
  }
}
@media only screen and (min-width: 462px) and (max-width: 615px) {
  #logo {
    left: 20.5%;
    width: 280px;
    letter-spacing: 0.2em;
  }

  #search-ico {
    height: 40px;
    position: absolute;
    width: 91px;
    background-size: 40%;
    right: -25px;
    top: 15px;
  }

  #nav-bars {
    height: 40px;
    text-align: center;
    float: left;
    position: absolute;
    width: 91px;
    background-size: 40%;
    left: 2%;
    top: 15px;
  }
}
@media only screen and (min-width: 616px) and (max-width: 950px) {
  #logo {
    left: 30.5%;
    width: 280px;
    letter-spacing: 0.2em;
  }

  #search-ico {
    height: 50px;
    position: absolute;
    width: 110px;
    background-size: 40%;
    right: -35px;
    top: 15px;
  }

  #nav-bars {
    height: 50px;
    text-align: center;
    float: left;
    position: absolute;
    width: 110px;
    background-size: 40%;
    left: 2%;
    top: 12px;
  }
}
@media only screen and (min-width: 1550px) and (max-width: 1850px) {
  #logo {
    left: 40.5%;
    width: 320px;
    letter-spacing: 0.3em;
    font-size: 1.2em;
  }

  #search-ico {
    height: 50px;
    position: absolute;
    width: 110px;
    background-size: 40%;
    margin-right: 1.5%;
    top: 15px;
  }

  #nav-bars {
    height: 50px;
    text-align: center;
    float: left;
    position: absolute;
    width: 110px;
    background-size: 40%;
    left: 2%;
    top: 12px;
  }
}
@media only screen and (min-width: 1850px) {
  #logo {
    left: 45.5%;
    width: 350px;
    letter-spacing: 0.4em;
    font-size: 1.3em;
  }
}

/*Responsividade do Footer*/
@media only screen and (min-width: 300px) and (max-width: 461px) {
  #footer {
    padding-left: 0;
  }
}
@media only screen and (min-width: 462px) and (max-width: 615px) {
  #footer {
    padding-left: 0;
  }
}

/*Small Footer*/
#small-footer {
  transition: 0.3s all;
  position: relative;
  padding: 15px;
  height: 60px;
  width: 102%;
  background-color: white;
  z-index: 999;
  overflow: hidden;
  margin-top: -65px;
  border-top: 1px solid #bebebe8e;
  font-family: "Bruzh";
  letter-spacing: 0.15em;
  font-size: 1.1em;
  transition: 2s all;
  -webkit-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -moz-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  -o-transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
  transition: height 0.5s ease-in-out 1s, margin-top 0.5s ease-in-out 1s;
}

#dark-mode-link-smf {
  position: absolute;
  right: 5.5%;
  bottom: 20%;
  font-family: "Bebas-Neue-Regular";
  font-size: 1.5em;
  float: right;
  z-index: 1000;
}

#dark-mode-link-smf:hover {
  font-weight: bold;
  cursor: pointer;
}

#use-terms-smf {
  position: absolute;
  left: 1%;
  bottom: 20%;
  font-family: "Bebas-Neue-Regular";
  font-size: 1.5em;
  float: left;
  z-index: 1000;
}

#use-terms-smf:hover {
  font-weight: bold;
  cursor: pointer;
}

.footer-link {
  font-family: "Bebas";
  transition: 1s all;
}

.footer-link:hover {
  cursor: pointer;
  font-weight: bolder;
}
#copyright-small-footer {
  font-family: "Bruzh";
  letter-spacing: 0.1em;
  font-size: 1.9em;
  padding: 20px 0 30px;
  text-align: center;
  transition: 1s all;
}
/* Responsividade do small-footer*/

@media only screen and (max-width: 560px) {
  #copyright-small-footer {
    letter-spacing: 0.1em;
    font-size: 1.4em;
  }
  #dark-mode-link-smf {
    letter-spacing: 0.1em;
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 300px) and (max-width: 461px) {
  #small-footer {
    padding-left: 0;
  }
}
@media only screen and (min-width: 462px) and (max-width: 615px) {
  #small-footer {
    padding-left: 0;
  }
}
