@font-face {
  font-family: "Spare Parts";
  src: url("../fonts/Spare Parts.ttf");
}

@font-face {
  font-family: "Walkway";
  src: url("../fonts/Walkway SemiBold.ttf");
}

@font-face {
  font-family: "Gooseberry Juice";
  src: url("../fonts/Gooseberry Juice.otf");
}

html,
body {
  overflow: hidden;
}
#canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to right, rgb(235, 56, 190), rgb(93, 61, 236));
}
.canvas-wrap {
  position: relative;
}
div.canvas-content {
  position: relative;
  z-index: 2000;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

body {
  margin: 0;
}

#home-animation-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
  color: rgb(236, 99, 236);
}

#home-animation {
  width: 100%;
  max-height: 90%;
  height: auto;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s all;
}

.bubbles.svg-path {
  background-blend-mode: multiply;
}

text {
  font-family: "Spare Parts";
}

.link {
  opacity: 0.8;
}

.title {
  font-size: 45px;
  margin-bottom: 2% !important;
  color: white;
  opacity: 0.4;
  transition: 1s all;
}

.info {
  color: rgba(255, 255, 255, 0.801);
  font-family: "Gooseberry Juice";
  text-align: center;
  position: fixed;
  padding: 2%;
  border-radius: 10px;
  top: 15%;
  width: 96%;
  transition: all 1s;
}

.start,
.artista,
.usuario {
  transition: 1s all;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.801);
}

.usuario {
  display: none;
  opacity: 0;
  transition: 1.2s all;
  position: absolute;
  margin-top: -1.335em;
  z-index: -10;
  margin-bottom: 0;
  margin-left: 6em;
  color: rgba(255, 255, 255, 0.801);
}

a {
  text-decoration: none !important;
}

.start:hover,
.artista:hover,
.usuario:hover {
  font-size: 90px;
  cursor: pointer;
}

.login {
  transition: 1s all;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.801);
}

.login:hover {
  font-size: 50px;
  cursor: pointer;
}

.sobre {
  transition: 1s all;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.801);
}

.sobre:hover {
  font-size: 30px;
  cursor: pointer;
}

.st0 {
  fill: #dceefb;
}
.st1 {
  fill: #adadad;
}

.svg-hand {
  max-width: 100px;
  width: 1.5%;
  position: fixed;
  transform: rotate(10deg);
}

.svg-hand:not(:root) {
  overflow: visible;
}

.svg1 {
  top: 40%;
  left: 37.5%;
}

.svg2 {
  top: 50%;
  left: 44%;
}

.tap-target {
  transition: 0.5s all;
}

.hand {
  transition: 0.5s all;
}

.hand-tapping {
  transition: 0.5s all;
}

#more-arrows {
  width: 5%;
  height: 9%;
  transform: rotate(180deg);
  position: fixed;
  top: 4%;
  left: 47.5%;
  opacity: 0;
  transition: none;
}

#more-arrows:hover polygon {
  fill: #fff;
  transition: all 0.2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: #fff;
  transition: all 0.2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

#bola-sobre {
  transition: 1s all;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 100%;
  left: 0;
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateX(7px);
    -moz-transform: translateX(7px);
    transform: translateY(7px);
  }
  65% {
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  80% {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@media only screen and (min-width: 0) and (max-width: 900px) {
  .title {
    font-size: 25px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 60px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 70px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 30px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 20px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1150px) {
  .title {
    font-size: 35px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 70px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 80px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 40px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 20px;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1351px) and (max-width: 1599px) {

  .title {
    font-size: 45px;
  }

  .start,
  .artista,
  .usuario {
    font-size: 80px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 90px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 50px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 25px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 30px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .title {
    font-size: 55px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 90px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 100px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 55px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 60px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 40px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1801px) and (max-width: 2200px) {
  .title {
    font-size: 65px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 100px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 110px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 65px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 70px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 45px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 50px;
    cursor: pointer;
  }
}

@media screen and (min-width: 2201px) and (max-width: 2600px) {
  .title {
    font-size: 75px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 110px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 120px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 75px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 80px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 55px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 60px;
    cursor: pointer;
  }
}

@media screen and (min-width: 2601px){
  .title {
    font-size: 85px;
  }
  .start,
  .artista,
  .usuario {
    font-size: 120px;
  }

  .start:hover,
  .artista:hover,
  .usuario:hover {
    font-size: 130px;
    cursor: pointer;
  }

  .login {
    transition: 1s all;
    font-size: 85px;
    color: rgba(255, 255, 255, 0.801);
  }

  .login:hover {
    font-size: 90px;
    cursor: pointer;
  }

  .sobre {
    transition: 1s all;
    font-size: 65px;
    color: rgba(255, 255, 255, 0.801);
  }

  .sobre:hover {
    font-size: 70px;
    cursor: pointer;
  }
}
