@font-face {
  font-family: "Spare Parts";
  src: url("../fonts/Spare Parts.ttf");
}

@font-face {
  font-family: "Walkway";
  src: url("../fonts/Walkway SemiBold.ttf");
}

html,
body {
  overflow: hidden;
}
#canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a1724;
}
.canvas-wrap {
  position: relative;
}
div.canvas-content {
  position: relative;
  z-index: 2000;
  color: #fff;
  text-align: center;
  padding-top: 30px;
}

body {
  margin: 0;
}

#home-animation-wrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  float: left;
}

svg {
  width: 100%;
  max-height: 90%;
  height: auto;
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s all;
}

.bubbles.svg-path {
  background-blend-mode: multiply;
}

text {
  font-family: "Spare Parts";
}

.title {
  font-size: 45px;
  margin-bottom: 2%;
  color: rgb(170, 170, 170, 0.8);
  transition: 1s all;
}

.info {
  color: rgba(255, 255, 255, 0.801);
  font-family: "Walkway";
  text-align: center;
  position: fixed;
  padding: 2%;
  border-radius: 10px;
  top: 20%;
  left: 33%;
  width: 30%;
  transition: all 1s;
}

.start,
.artista,
.usuario {
  transition: 1s all;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.801);
}

.usuario {
  display: none;
  opacity: 0;
  transition: 1.2s all;
  position: absolute;
  margin-top: -1.335em;
  z-index: -10;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

.start:hover,
.artista:hover,
.usuario:hover {
  font-size: 90px;
  cursor: pointer;
}

.login {
  transition: 1s all;
  font-size: 45px;
  color: rgba(255, 255, 255, 0.801);
}

.login:hover {
  font-size: 50px;
  cursor: pointer;
}

.sobre {
  transition: 1s all;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.801);
}

.sobre:hover {
  font-size: 30px;
  cursor: pointer;
}

.st0 {
  fill: #dceefb;
}
.st1 {
  fill: #adadad;
}

.svg-hand {
  max-width: 100px;
  width: 1.5%;
  position: fixed;
  transform: rotate(10deg);
}

.svg-hand:not(:root) {
  overflow: visible;
}

.svg1 {
  top: 40%;
  left: 37.5%;
}

.svg2 {
  top: 50%;
  left: 44%;
}

.tap-target {
  transition: 0.5s all;
}

.hand {
  transition: 0.5s all;
}

.hand-tapping {
  transition: 0.5s all;
}

#more-arrows {
  width: 5%;
  height: 9%;
  transform: rotate(180deg);
  position: fixed;
  top: 4%;
  left: 47.5%;
  opacity: 0;
  transition: none;
}

#more-arrows:hover polygon {
  fill: #fff;
  transition: all 0.2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}

polygon {
  fill: #fff;
  transition: all 0.2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

#bola-sobre {
  transition: 1s all;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 150%;
}

.close-sobre {
  transition: 1s all;
  position: fixed;
  z-index: 999;
  will-change: transform;
  margin-left: 0 !important;
  left:30%;
  top:10%;
  height: 6%;
  width: 6%;
}

.close-sobre-img {
  height: 100%;
  padding: 0;
  opacity: 0;
}

.close-sobre-img:hover {
  transform: translateY(5px);
}

@keyframes swing {
  15% {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    transform: translateX(10px);
  }
  30% {
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateX(7px);
    -moz-transform: translateX(7px);
    transform: translateY(7px);
  }
  65% {
    -webkit-transform: translateX(-7px);
    -moz-transform: translateX(-7px);
    transform: translateX(-7px);
  }
  80% {
    -webkit-transform: translateX(4px);
    -moz-transform: translateX(4px);
    transform: translateX(4px);
  }
  100% {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    transform: translateX(2px);
  }
}

@media only screen and (min-width: 0) and (max-width: 800px) {
  .close-sobre {
    left: 8%;
    top: 10%;
  }
}

@media only screen and (min-width: 801px) and (max-width: 900px) {
  .close-sobre {
    left: 12%;
    top: 10%;
  }
}

@media only screen and (min-width: 901px) and (max-width: 1150px) {
  .close-sobre {
    left: 22%;
    top: 10%;
  }
}

@media only screen and (min-width: 1151px) and (max-width: 1350px) {
  .close-sobre {
    left: 28%;
    top: 10%;
  }
}

@media only screen and (min-width: 1351px) and (max-width: 1599px) {
  .close-sobre {
    left: 32%;
    top: 10%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1800px) {
  .close-sobre {
    left: 36%;
    top: 10%;
  }
}

@media screen and (min-width: 1801px) and (max-width: 2000px) {
  .close-sobre {
    left: 37%;
    top: 10%;
  }
}

@media screen and (min-width: 2001px) {
  .close-sobre {
    left: 38%;
    top: 10%;
  }
}


