{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "production": {
          "plugins": [
            "transform-remove-console"
          ]
        }
      }
    ],
    "stage-3"
  ]
}