@{
    ViewData["Title"] = "Denúncias";
}

<div style="width:auto;display:flex;flex-wrap:wrap;margin:auto!important;height:auto;">
    <div class="card border-secondary mb-3" style="margin:8px;">
        <div class="card-header">Mari Velar dfstgdfdfg dfg <button type="button" class="btn btn-danger" style="margin-left:10px">Descartar</button> 
        <button type="button" class="btn btn-success">Detalhes</button></div>
        <div class="card-body text-secondary">
            <h5 class="card-title">@@john apresenta dados falsos</h5>
            <p class="card-text">John na verdade se chama Lorem ipsum dolor sit amet</p>
        </div>
    </div>
</div>
<script>

</script>